{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>PEDIDOS AUTOMATICOS</title>

  <script>

    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunction() {
      document
        .getElementById("myDropdown")
        .classList
        .toggle("show");
    } {
      # function myFunctionUser() {
        document
          .getElementById("myDropdownUser")
          .classList
          .toggle("show");
      }
      #
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown
              .classList
              .remove('show');
          }
        }
      }
    }
  </script>

  <body>
    <div id="navbarAdministrador">
      <div class="row">
        <div class="col-12">
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          {# <label for="menu-toggle" class="menu-toggle-label">&#9776;</label> #}
          <ul class="menu">
            <li>
              <a href="/session/clientes">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes" class="linkActivo">PENDIENTES</a>
            </li>
            <li>
              <a href="/session/realizados">REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">ENTREGADOS</a>
            </li>
            <li>
              <a href="/session/cobrados">COBRADOS</a>
            </li>
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>
            <li>
              <a href="/session/automaticos">AUTOMATICOS</a>

            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="contenedor-pedidosPendientes">
      <div id="contenedorlateral">
        <div id="tableroPendienteTotalWeb">

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul >

                <li class="pedidoRealizadosTotal">TOTAL CLIENTES PEDIDOS AUTOMATICOS</li>

              </ul>
            </div>

            <div class="col-3">
              <label class="pedidoPendientesTotalDatosCantidadPE"></label>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul ></ul>
            </div>
            <div class="col-3">
              <!-- Columna para la cantidad -->
              <ul></ul>
            </div>

          </div>
        </div>

        <div id="newPedido">

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul >

                <li class="pedidoPendientesTotal">CLIENTE</li>

              </ul>
            </div>

            <div class="col-3">
              <form action="/session/newpedido" method="POST">
                <input class="pedidoPendientesTotalDatosCantidad" list="browsers" name="browser" id="browser">
                <datalist id="browsers">
                  {% for user in users %}
                    <option type="text" name="username"  id="username" value="{{user.username}}">

                      <!-- Campo oculto para el teléfono -->
                    {% endfor %}
                  </datalist>
                </div>
              </div>

              {#  </div> #}

            </div>
          </div>
        </body>

      {% endblock %}