{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>CLIENTES</title>
  <body>

    <div id="navbarAdministrador">
      {# 
      <label for="menu-toggle" class="menu-toggle-label">&#9776;</label> #}
      <div class="row">
        <div class="col-12">
          <input type="checkbox"  id="menu-toggle" class="menu-toggle">

          <ul class="menu">
            <li>
              <a href="/session/clientes" class="linkActivo">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes">PENDIENTES</a>

            </li>
            <li>
              <a href="/session/realizados">REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">ENTREGADOS</a>
            </li>
            <li>
              <a href="/session/cobrados">COBRADOS</a>
            </li>
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="tableroGeneral">
      <div class="row">
        <div class="col-3">
          <label class="tagTotales">TOTAL CLIENTES</label>
          <label class="azul">
            {{ contadorUser }}
          </label>
        </div>
        <div class="col-3">
          <label class="tagTotales">PEDIDOS PENDIENTES</label>
          <label class="rojo">
            {{ cantidadPendientes }}

          </label>
        </div>
        <div class="col-3">
          <label class="tagTotales">PEDIDOS REALIZADOS</label>
          <label class="amarillo">
            {{ cantidadRealizados }}
          </label>
        </div>
        <div class="col-3">
          <label class="tagTotales">PEDIDOS ENTREGADOS</label>
          <label class="verde">

            {{ cantidadEntregados }}
          </label>
        </div>

      </div>
    </div>

    <div class="tableroGeneralMovil">
      <div class="row">
        <div class="col-9">
          <label class="tagTotales">TOTAL CLIENTES</label>
        </div>
        <div class="col-3">
          <label class="azul">
            {{ contadorUser }}
          </label>
        </div>
        <div class="col-9">
          <label class="tagTotales">PEDIDOS PENDIENTES</label>
        </div>
        <div class="col-3">
          <label class="rojo">
            {{ cantidadPendientes }}

          </label>
        </div>
        <div class="col-9">
          <label class="tagTotales">PEDIDOS REALIZADOS</label>
        </div>
        <div class="col-3">
          <label class="amarillo">
            {{ cantidadRealizados }}
          </label>
        </div>
        <div class="col-9">
          <label class="tagTotales">PEDIDOS ENTREGADOS</label>
        </div>
        <div class="col-3">
          <label class="verde">

            {{ cantidadEntregados }}
          </label>
        </div>

      </div>
    </div>

    {#  admin- usuario          #}
    <div id="contenedor-clientes">

      {#  <div id="totalClientes">
        <div class="row">
          <div class="col-1 azul">{{ contadorUser }}</div>
          <div class="col-2">CLIENTES</div>

          <div class="col-1 rojo">{{ cantidadPendientes }}</div>
          <div class="col-2">PEDIDOS PENDIENTES</div>

          <div class="col-1 amarillo">{{ cantidadRealizados }}</div>
          <div class="col-2">PEDIDOS REALIZADOS</div>

          <div class="col-1 verde">{{ cantidadEntregados }}</div>
          <div class="col-2">PEDIDOS ENTREGADOS</div>
        </div>
      </div> #}
      <div id="newPedido">

        <div class="row nuevoPedidoPendiente">
          <div class="col-12">
            <strong>     NUEVO PEDIDO</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12"></div>
        </div>

        <div class="row">
          <div class="col-8">
            <ul >
              <li class="pedidoPendientesTotal">CLIENTE</li>
            </ul>
          </div>
          <div class="col-4">
            <form action="/session/newpedido" method="POST">
              <input class="pedidoPendientesTotalDatosCantidad" list="browsers" name="browser" id="browser">
              <datalist id="browsers">
                {% for user in users %}
                  <option type="text" name="username"  id="username" value="{{user.username}}">

                  {% endfor %}
                </datalist>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <ul >
                  <li class="pedidoPendientesTotal">PAGO</li>
                </ul>
              </div>

              <div class="col-4">
                <input type="text" id="Pago" name="Pago" list="opcionesPago"  class="pedidoPendientesTotalDatosCantidad">
                <datalist id="opcionesPago">
                  <option value="Efectivo">
                    <option value="Transferencia"></datalist>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <ul >
                      <li class="pedidoPendientesTotal">DESCUENTO</li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <input type="text" id="Descuento" name="Descuento" list="opcionesDescuento" class="pedidoPendientesTotalDatosCantidad">
                    <datalist id="opcionesDescuento">
                      <option value="0">
                        <option value="5">
                          <option value="10">
                            <option value="15">
                              <option value="25">
                                <option value="100"></datalist>
                              </div>
                            </div>

                            <div class="row">
                              {% for producto in productos %}
                                <div class="col-8">
                                  <ul >
                                    <li class="pedidoPendientesTotal">
                                      <label >{{ producto.name }}</label>
                                    </li>
                                  </ul>
                                  <input type="hidden" name="productos[]" value="{{ producto.name }}">
                                  <input type="hidden" name="precios[]" value="{{ producto.precioVenta }}">
                                  <input type="hidden" name="costos[]" value="{{ producto.costoProduccion }}">
                                </div>

                                <div class="col-4">
                                  <input type="number" class="pedidoPendientesTotalDatosCantidad" name="cantidades[]" value="0">
                                </div>
                              {% endfor %}
                            </div>

                            <div class="row alineadoFormCliente">
                              <div class="col-7">
                                <label for="email" class="formClientetxt"></label>
                              </div>
                              <div class="col-5">
                                <button type="submit" class="btn-primary formClienteClientebtn">REALIZAR</button>
                              </div>
                            </div>
                          </form>

                        </div>

                        <div id="newUserMovil">
                          <form name="formulario"  method="post" action="/session/newuser", userController.login>
                            <div class="row tagCliente">
                              <div class="col-12">
                                <strong>     NUEVO CLIENTE</strong>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-6">
                                <label for="username" class="styleClienteNuevo">NOMBRE</label>
                              </div>
                              <div class="col-6">
                                <input type="text" name="username" id="username" value="{{username}}" class="pedidoPendientesTotalDatosCantidadNU" required="true"/>
                              </div>
                            </div>

                            <div class="row ">
                              <div class="col-6">
                                <label for="telefono" class="styleClienteNuevo">TELEFONO</label>
                              </div>
                              <div class="col-6">
                                <input type="text" name="telefono" id="telefono" value="{{telefono}}" class="pedidoPendientesTotalDatosCantidadNU" required="true"/>
                              </div>
                            </div>

                            <div class="row ">
                              <div class="col-6">
                                <label for="direccion" class="styleClienteNuevo">DIRECCION</label>
                              </div>
                              <div class="col-6">
                                <input type="text" name="direccion" id="direccion" value="{{direccion}}" class="pedidoPendientesTotalDatosCantidadNU" required="true"/>
                              </div>
                            </div>

                            <div class="row ">
                              <div class="col-6">
                                <label for="email" class="styleClienteNuevo">EMAIL</label>
                              </div>
                              <div class="col-6">
                                <input type="text" name="email" id="email" value="{{email}}" class="pedidoPendientesTotalDatosCantidadNU" required="true"/>
                              </div>
                            </div>
                            <div class="row ">
                              <div class="col-6">
                                <label for="repite" class="styleClienteNuevo">REPETIR PEDIDO </label>
                              </div>
                              <div class="col-6">
                                {#                                 <input type="text" name="repitePedido" id="repitePedido" value="{{repitePedido}}" class="pedidoPendientesTotalDatosCantidad" required="true"/>
 #}
                                <input type="text" id="repitePedido" name="repitePedido" list="repitePedidoList" class="pedidoPendientesTotalDatosCantidadNU">
                                <datalist id="repitePedidoList">

                                  <option value="true">
                                    <option value="false"></datalist>

                                  </div>
                                </div>

                                <div class="row ">
                                  <div class="col-6">
                                    <label for="intervalo" class="styleClienteNuevo">REPETICION EN DIAS</label>
                                  </div>
                                  <div class="col-6">
                                    <input type="text" name="intervaloRepetición" id="intervaloRepetición" value="{{intervaloRepetición}}" class="pedidoPendientesTotalDatosCantidadNU" required="true"/>
                                  </div>
                                </div>

                                <div class="row ">
                                  <div class="col-6">
                                    <label for="email" class="formClientetxt"></label>
                                  </div>
                                  <div class="col-6">
                                    <button type="submit" name="button" class="btn-primary formClienteCliente">REGISTRAR</button>
                                  </div>
                                </div>
                              </form>

                            </div>

                            <div id="buscadorRealizados">
                              <div class="row">
                                <div class="col-12 nuevoClientetxt">
                                  <strong>  BUSCAR CLIENTE</strong>
                                </div>
                              </div>

                              <div class="row alineadoFormCliente">
                                <div class="col-6">
                                  <form name="formulario" method="post" action="/session/realizadosBusqueda">
                                    <label for="browser" class="formClientetxt">CLIENTE</label>
                                  </div>

                                  <div class="col-6">
                                    <input class="formClienteCliente" list="browsers" name="browser" id="browser">
                                    <datalist id="browsers">
                                      {% for user in users %}
                                        <option type="text" name="username"  id="username" value="{{user.username}}">

                                          <!-- Campo oculto para el teléfono -->
                                        {% endfor %}
                                      </datalist>
                                    </div>
                                  </div>

                                  <!-- Botón de envío de formulario -->
                                  <div class="row alineadoFormCliente">
                                    <div class="col-6">
                                      <label for="email" class="formClientetxt"></label>
                                    </div>
                                    <div class="col-6">
                                      <button type="submit" name="button" class="btn-primary formClienteCliente">BUSCAR PEDIDO</button>
                                    </div>
                                  </div>
                                </div>

                                <div id="info-clientes">
                                  <div class="row tagCliente">
                                    <div class="col-12">
                                      <strong>CLIENTES</strong>
                                    </div>
                                  </div>

                                  <div class="row rowmovilinvisible">
                                    <div class="col-2">
                                      <strong>NOMBRE</strong>
                                    </div>
                                    <div class="col-2">
                                      <strong>TELEFONO </strong>
                                    </div>
                                    {#     <div class="col-2">
                                  <strong>DIRECCION </strong>
                                </div> #}
                                    <div class="col-3">
                                      <strong>EMAIL </strong>
                                    </div>
                                    <div class="col-4">
                                      <strong>REPITE PEDIDO</strong>
                                    </div>
                                    <div class="col-1">
                                      <strong></strong>
                                    </div>
                                  </div>

                                  {% for user in users %}

                                    <div class="row rowmovil">
                                      <div class="col-2">
                                        {{ user.username }}</div>
                                      <div class="col-2">
                                        {{ user.telefono }}</div>
                                      {#   <div class="col-2">
                                    {{ user.direccion }}</div> #}
                                      <div class="col-3">
                                        {{ user.email }}
                                      </div>
                                      <div class="col-3">
                                        {% if user.repitePedido %}
                                          <div>
                                            {#  {{ user.repitePedido }}|| #}
                                     CADA   {{user.intervaloRepetición}} DIAS
                                      </div>
                                        {% endif %}
                                      </div>

                                      <div class="col-1">
                                        <form method="post" action="/session/updateUser">
                                          <input type="hidden" name="username" value="{{ user.username }}">

                                          <button type="submit">UPD</button>
                                        </form>

                                      </div>

                                      <div class="col-1">
                                        <form name="formulario" method="post" action="/session/deleteuser{{ user.username }}", userController.deleteuser>
                                          <input type="image" id="image" alt="delete" src="https://dulce29.herokuapp.com/static/img/borrado1.png" onclick="return confirm('¿Estás por eliminar un cliente')">
                                        </form>

                                      </div>

                                    </div>
                                  {% endfor %}

                                </div>

                              </div>

                            </div>
                            {# <div id="info-clientes">

        <div class="row rowmovilinvisible">
          <div class="col-2">
            <strong>NOMBRE</strong>
          </div>
          <div class="col-2">
            <strong>TELEFONO </strong>
          </div>
          <div class="col-2">
            <strong>DIRECCION </strong>
          </div>
          <div class="col-2">
            <strong>EMAIL </strong>
          </div>
          <div class="col-2">
            <strong>REPITE PEDIDO</strong>
          </div>
        </div>

        {% for user in users %}
     
          <div class="row rowmovil">
            <div class="col-2">
              {{ user.username }}</div>
            <div class="col-2">
              {{ user.telefono }}</div>
            <div class="col-2">
              {{ user.direccion }}</div>
            <div class="col-3">
              {{ user.email }}
            </div>
            <div class="col-1">
              {% if user.repitePedido %}
                <div class="col-1">
                  {{ user.repitePedido }}
                </div>
              {% endif %}
            </div>

            <div class="col-1">
              <form method="post" action="/session/updateUser">
                <input type="hidden" name="username" value="{{ user.username }}">

                <button type="submit">UPD</button>
              </form>
          

            </div>

            <div class="col-1">
              <form name="formulario" method="post" action="/session/deleteuser{{ user.username }}", userController.deleteuser>
                <input type="image" id="image" alt="delete" src="https://dulce29.herokuapp.com/static/img/borrado1.png" onclick="return confirm('¿Estás por eliminar un cliente')">
              </form>

            </div>

          </div>
        {% endfor %}

              </div> #}

                          </div>
                        </body>

                      {% endblock %}