{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>CLIENTES</title>
  <body>

    <div id="navbarAdministrador">
      {# 
      <label for="menu-toggle" class="menu-toggle-label">&#9776;</label> #}
      <div class="row">
        <div class="col-12">
          <input type="checkbox"  id="menu-toggle" class="menu-toggle">

          <ul class="menu">
            <li>
              <a href="/session/clientes">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes">PEDIDOS PENDIENTES</a>
            </li>
            <li>
              <a href="/session/realizados">PEDIDOS REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">PEDIDOS ENTREGADOS</a>
            </li>
            {#   <li>
              <a href="/session/estadisticas">ESTADISTICAS</a>
            </li> #}
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {#  admin- usuario          #}
    <div id="contenedor-clientes">
      <div id="info-clientes">

        <div class="row rowmovilinvisible">
          <div class="col-2">
            <strong>NOMBRE</strong>
          </div>
          <div class="col-2">
            <strong>TELEFONO </strong>
          </div>
          <div class="col-2">
            <strong>DIRECCION </strong>
          </div>
          <div class="col-4">
            <strong>EMAIL </strong>
          </div>
          <div class="col-2"></div>
        </div>

        {% for user in users %}
          {#  <div class="col-2"> {{ user._id }}</div> #}
          <div class="row rowmovil">
            <div class="col-2">
              {{ user.username }}</div>
            <div class="col-2">
              {{ user.telefono }}</div>
            <div class="col-2">
              {{ user.direccion }}</div>
            <div class="col-4">
              {{ user.email }}
            </div>

            <div class="col-1">
              <form method="post" action="/session/updateUser">
                <input type="hidden" name="username" value="{{ user.username }}">

                <button type="submit">UPD</button>
              </form>
              {#   <form name="formUpdateUser" method="post" action="/session/updateUser{{ user.username }}", userController.updateUser>
                <input type="image" id="image" alt="update" src="http://localhost:3001/static/img/editar.png">
              </form> #}

            </div>

            <div class="col-1">
              <form name="formulario" method="post" action="/session/deleteuser{{ user.username }}", userController.deleteuser>
                <input type="image" id="image" alt="delete" src="https://dulce29.herokuapp.com/static/img/borrado1.png" onclick="return confirm('¿Estás por eliminar un cliente')">
              </form>

            </div>

          </div>
        {% endfor %}

      </div>

      <div id="newUserMovil">
        <form name="formulario"  method="post" action="/session/newuser", userController.login>
          <div class="row">
            <div class="col-12 nuevoClientetxt">
              <label for="username" >NUEVO CLIENTE</label>
            </div>

          </div>

          <div class="row alineadoFormCliente">
            <div class="col-6">
              <label for="username" class="formClientetxt">NOMBRE</label>
            </div>
            <div class="col-6">
              <input type="text" name="username" id="username" value="{{username}}" class="formCliente" required="true"/>
            </div>
          </div>

          <div class="row alineadoFormCliente">
            <div class="col-6">
              <label for="telefono" class="formClientetxt">TELEFONO</label>
            </div>
            <div class="col-6">
              <input type="text" name="telefono" id="telefono" value="{{telefono}}" class="formCliente" required="true"/>
            </div>
          </div>

          <div class="row alineadoFormCliente">
            <div class="col-6">
              <label for="direccion" class="formClientetxt">DIRECCION</label>
            </div>
            <div class="col-6">
              <input type="text" name="direccion" id="direccion" value="{{direccion}}" class="formCliente" required="true"/>
            </div>
          </div>

          <div class="row alineadoFormCliente">
            <div class="col-6">
              <label for="email" class="formClientetxt">EMAIL</label>
            </div>
            <div class="col-6">
              <input type="text" name="email" id="email" value="{{email}}" class="formCliente" required="true"/>
            </div>
          </div>

          <div class="row ">

            <div class="col-12">
              <button type="submit" name="button" class="btn-primary btnClienteNuevo">REGISTRAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="totalClientes">

      <div class="row">
        <div class="col-6">TOTAL USUARIOS</div>
        <div class="col-6">{{ contadorUser }}</div>
      </div>
      <div class="row">
        <div class="col-6">TOTAL PEDIDOS PENDIENTES</div>
        <div class="col-6">{{cantidadPedidosPorEstado}}</div>
      </div>
      <div class="row">
        <div class="col-6">TOTAL PEDIDOS REALIZADOS</div>
        <div class="col-6">{{ contadorUser }}</div>
      </div>
      <div class="row">
        <div class="col-6">TOTAL PEDIDOS ENTREGADOS</div>
        <div class="col-6">{{ contadorUser }}</div>
      </div>
    </div>

    <div class="busquedaClienteMovil">
      <div class="row">

        <form name="formulario"  method="post" action="/session/realizadosBusquedaCliente", userController.realizadosBusquedaCliente>
          <!-- Datos del formulario -->

          <div class="col-11">
            <label for="browser" class="formClientetxt">Cliente</label>
            <input list="browsers"  name="browser" id="browser" class="formCliente" style="width: 120px">
            <datalist id="browsers">
              {% for user in users %}
                <option  type="text" name="username" id="username" value="{{user.username}}">
                {% endfor %}
              </datalist>

              <!-- Botón de envío de formulario -->
              <button type="submit" name="button" class="btn-primary  btnCliente">
                        BUSCAR
                      </button>
            </form>

          </div>
          <div class="col-1"></div>

        </div>

        <div id="busqueda-clienteMovil">
          <div class="row">
            <div class="col-4">
              <strong>NOMBRE</strong>
            </div>
            <div class="col-2">
              <strong>TELEFONO </strong>
            </div>
            <div class="col-2">
              <strong>DIRECCION </strong>
            </div>
            <div class="col-4">
              <strong>EMAIL </strong>
            </div>

          </div>
          <div class="row rowClienteMovil">
            <div class="col-4">
              {{ usuariosBusqueda.username }}</div>
            <div class="col-2">
              {{ usuariosBusqueda.telefono }}</div>
            <div class="col-2">
              {{ usuariosBusqueda.direccion }}</div>
            <div class="col-4">
              {{ usuariosBusqueda.email }}
            </div>
          </div>

        </div>
      </div>
    </body>

  {% endblock %}