{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://dulce29.herokuapp.com/static/css/styleAdmin.css"/>
  <title>PEDIDOS COBRADOS</title>
  <script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunction() {
      document
        .getElementById("myDropdown")
        .classList
        .toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown
              .classList
              .remove('show');
          }
        }
      }
    }
  </script>

  <body>
    <div id="navbarAdministrador">
      <div class="row">
        <div class="col-12">
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          {# 
          <label for="menu-toggle" class="menu-toggle-label">&#9776;</label> #}
          <ul class="menu">
            <li>
              <a href="/session/clientes">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes">PENDIENTES</a>
            </li>
            <li>
              <a href="/session/realizados">REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">ENTREGADOS</a>
            </li>
            <li>
              <a href="/session/cobrados"  class="linkActivo">COBRADOS</a>
            </li>
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="contenedor-pedidosRealizados">
      <div id="contenedorlateral">

        <div id="tableroEntregadoTotalWeb">
          <div class="row">
            <div class="col-12">
              <!-- Columna para el nombre del producto -->
              <ul >

                <li class="subtitulosCobrados">
                  <strong>
                    {{nombreMes}}</strong>

                </li>

              </ul>
            </div>

          </div>

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul >

                <li class="pedidoPendientesTotal">
                  <strong>TOTAL PEDIDOS</strong>

                </li>

              </ul>
            </div>

            <div class="col-3">
              <label class="rowpedidoCobradosTotalDatos">
                {{ contadorCobrados }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- Columna para el nombre del producto -->
              <ul >

                <li class="subtitulosCobrados">
                  <strong>PRODUCTOS MAS VENDIDOS</strong>

                </li>

              </ul>
            </div>

          </div>

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul >
                {% for mensaje in mensajes %}
                  <li class="pedidoPendientesTotal">{{ mensaje.nombre }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-3">
              <!-- Columna para la cantidad -->
              <ul>
                {% for mensaje in mensajes %}
                  <li class="rowpedidoCobradosTotalDatos">{{ mensaje.cantidad }}</li>
                {% endfor %}
              </ul>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <ul >
                <li class="subtitulosCobrados">
                  <strong>CLIENTES CON MAS PEDIDOS</strong>
                </li>
              </ul>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <ul>
                {% for usernameInfo in cincoUsernamesRepetidos %}
                  <li class="pedidoPendientesTotal">
                    {{ usernameInfo.username }} || {{ usernameInfo.count }}
                  </li>
                {% endfor %}
              </ul>
            </div>

          </div>

          <div class="row">

            <div class="col-12">
              <ul >
                <li class="subtitulosCobrados">
                  <strong>PEDIDOS EN EFECTIVO</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul>

                <li class="pedidoPendientesTotal">
                  {{ contadorEfectivo }} || {{ precioFinal }}
                </li>

              </ul>
            </div>
            <div class="col-12">
              <ul>

                <li class="pedidoPendientesTotal">
                  {{ costoFinal }}
                </li>

              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <ul >
                <li class="subtitulosCobrados">
                  <strong>PEDIDOS X TRANSFERENCIA</strong>
                </li>
              </ul>
            </div>

          </div>

          <div class="row">
            <div class="col-12">
              <ul >
                <li class="pedidoPendientesTotal">
                  {{ contadorTransferencia }} || {{ precioFinalTransferencia }}
                </li>
              </ul>
            </div>

          </div>

          <div class="row">

            <div class="col-12">
              <ul >
                <li class="subtitulosCobrados">
                  <strong>TOTAL COSTOS </strong>
                </li>
              </ul>
            </div>
            <div class="col-12">
              <ul >
                <li class="pedidoPendientesTotal">
                  <strong>{{sumaTotalCosto}}</strong>
                </li>
              </ul>
            </div>
            <div class="col-12">
              <ul >
                <li class="subtitulosCobrados">
                  <strong>TOTAL VENDIDO</strong>
                </li>
              </ul>
            </div>
            <div class="col-12">
              <ul >
                <li class="pedidoPendientesTotal">
                  <strong>{{precioFinalTransferencia + precioFinal}}</strong>
                </li>
              </ul>
            </div>
            <div class="col-12">
              <ul >
                <li class="subtitulosCobrados">
                  <strong>TOTAL GANANCIAS</strong>
                </li>
              </ul>
            </div>
            <div class="col-12">
              <ul >
                <li class="pedidoPendientesTotal">
                  <strong>{{ (precioFinalTransferencia + precioFinal) - sumaTotalCosto }}</strong>

                </li>
              </ul>
            </div>
          </div>

        </div>

        <div id="buscadorEntregados">
          <div class="col-2">
            <form  action="estadisticasMes" method="POST">
                   Desde: <input type="date" name="fechaInicio">
                   Hasta: <input type="date" name="fechaFin">
              <button type="submit" class="sizeBtn">Buscar</button>
            </form>
          </div>
          {#  <div class="row rowEntregados">

            <div class="col-4">
              <strong>PEDIDOS COBRADOS</strong>
            </div>

            <div class="col-4">
              <strong>EFECTIVO</strong>
            </div>
            <div class="col-4">
              <strong>TRANSFERENCIA</strong>
            </div>
          </div> #}

          <div class="row rowEntregadosDatos">

            <div class="col-4">{{contadorCobrados}}</div>
            <div class="col-4">{{contadorEfectivo}}</div>
            <div class="col-4">{{contadorCobrados - contadorEfectivo}}</div>
          </div>

        </div>

        <div id="boxPedidoEntregado">
          {% for pedido in pedidos %}
            <div id="info-pendientesBox">
              <div id="pendientesBox">
                <div id="box3">
                  <div class="row">

                    <div class="col-6  boxTxt ">
                                    Nº    
                                {{pedido.Mes}}-{{ pedido.Numero_pedido }}
                    </div>
                    <div class="col-6 boxTxtEstadoCobrados">
                      <form name="formularioCambio" method="get" action="/session/cambioEstadoCobrado/{{ pedido.Numero_pedido }}">
                        <input type="submit" value="{{ pedido.Estado }}" class="{{ pedido.Estado }}" onclick="return confirm('¿Estás por cambiar eL pedido de Entregado a Cobrado ?')">
                      </form>

                    </div>
                  </div>
                </div>
                <div id="box4">
                  <div class="row boxTxtCliente">
                    <div class="col-12">
                      {{ pedido.username }} || {{pedido.fechaFormateada }}

                    </div>
                  </div>
                </div>

                <div id="boxunodos">
                  <div id="box1">
                    <div class="row">

                      {% for producto in pedido.productos %}
                        {% if producto.cantidad != 0 %}
                          <div class="col-12">
                            {{ producto.precio }}
                            {{ producto.costoProduccion }}
                            {{ producto.nombre }}
                          </div>
                        {% endif %}
                      {% endfor %}

                    </div>
                  </div>

                  <div id="box2">
                    <div class="row">
                      {% for producto in pedido.productos %}

                        <div class="col-12">

                          {{ producto.cantidad }}

                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div id="box6" class="{{ pedido.Estado }}">
                  <div class="row">
                    <div class="col-12">
                      {{ pedido.Pago }}

                    </div>
                    <div class="col-12">
                                       COSTO  {{ pedido.Costo_total }} || {{ pedido.Monto_total }} TOTAL 

                                      </div>
                    <div class="col-12">
                      {{ pedido.Descuento }}% OFF || {{ pedido.Monto_total * (1 - pedido.Descuento / 100) }} PRECIO FINAL

                                      </div>

                  </div>
                </div>
                <div id="box5">
                  <div class="row boxTxtCliente">
                    <div class="col-6">
                      <form method="post" action="/session/updatepedido">
                        <input type="hidden" name="Numero_pedido" value="{{ pedido.Numero_pedido }}" >

                        <button type="submit">UPD</button>
                      </form>
                    </div>

                    <div class="col-6 boxTxtCliente">
                      <form name="formulario" method="post" action="/session/deletepedido{{ pedido.Numero_pedido}}", pedidoController.deletePedido>
                        <input type="image" id="image" alt="delete" src="https://dulce29.herokuapp.com/static/img/borrado1.png" onclick="return confirm('¿Estás por eliminar un pedido?')">
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </div>

  </body>

{% endblock %}