{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>DELIVERY PENDIENTE ENTREGA </title>
  <script>
    $(document).ready(function () {
      $('#mostrarInfoBtn').click(function () {
        $('#infoPendientes').toggleClass('oculto');
        $(this).text(function (i, text) {
          return text === 'Mostrar información'
            ? 'Ocultar información'
            : 'Mostrar información';
        });
      });
    });
  </script>

  <body>
    <div id="navbarAdministrador">

      <div class="row">
        <div class="col-12">
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          <label for="menu-toggle" class="menu-toggle-label botonMenu">&#9776;</label>
          <ul class="menu">

            <li>
              <a href="/session/delivery">REALIZADOS</a>
            </li>
            <li>
              <a href="/session/deliveryentregado/{{userRes.username}}">ENTREGADOS</a>
            </li>

          </ul>
        </div>
        <div class="col-12 center-text">
          {{userRes.username}}
        </div>
      </div>
    </div>

    <div id="contenedor-pedidosRealizadosDelivery">
      <div id="contenedorlateral">
        <div id="tableroRealizadoTotalWeb">

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul >

                <li class="pedidoRealizadosTotal">TOTAL PEDIDOS REALIZADOS</li>

              </ul>
            </div>

            <div class="col-3">
              <label class="rowpedidoRealizadosTotalDatos">
                {{ contador }}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul >
                {% for mensaje in mensajes %}
                  <li class="pedidoRealizadosTotal">{{ mensaje.nombre }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-3">
              <!-- Columna para la cantidad -->
              <ul>
                {% for mensaje in mensajes %}
                  <li class="rowpedidoRealizadosTotalDatos">{{ mensaje.cantidad }}</li>
                {% endfor %}
              </ul>
            </div>
            {#   {% for producto, cantidad in pedidos %}
                  <div class="col-10">
                    <label class="infoPendientesBoxNombre">{{ pedido.producto }}</label>
                  </div>
                  <div class="col-2">
                    <label class="infoPendientesBox">{{ pedido.cantidad }}</label>
                  </div>
                {% endfor %} #}
          </div>

        </div>
        {#      <div id="buscadorRealizados">
          <div class="row nuevoPedido">
            <div class="col-12">
              <strong>   PEDIDOS X CLIENTE</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <form name="formulario" method="post" action="/session/realizadosBusqueda">
                <label for="browser" class="listadobuscadorCliente">CLIENTE</label>
              </div>

              <div class="col-5">
                <input class="formClienteRealizado" list="browsers" name="browser" id="browser">
                <datalist id="browsers">
                  {% for pedido in pedidossinrepetir %}
                    <option value="{{ pedido.username }}"></option>
                  {% endfor %}
                </datalist>
              </div>

              <div class="col-3"></div>

              <!-- Botón de envío de formulario -->
              <div class="col-12">
                <button type="submit" class="btn-primary btnClienteBuscador">BUSCAR PEDIDO</button>
              </form>
            </div>
          </div>

        </div> #}

        <div id="boxPedidoRealizado">
          {% for pedido in pedidos %}
            <div id="info-pendientesBoxDEL">
              <div id="pendientesBox">
                <div id="box3">
                  <div class="row">

                    <div class="col-6  boxTxt ">
                                  Nº    
                              {{pedido.Mes}}-{{ pedido.Numero_pedido }}
                    </div>
                    <div class="col-6 {{ pedido.Estado }}">
                      <form name="formularioCambio" method="get" action="/session/cambioEstadoEntregado/{{ pedido.Numero_pedido }}">
                        <input type="submit" value="{{ pedido.Estado }}" class="{{ pedido.Estado }}" onclick="return confirm('¿Estás por cambiar el pedido de Realizado a Entregado ?')">
                      </form>

                    </div>
                  </div>
                </div>
                <div id="box4">
                  <div class="row boxTxtCliente">
                    <div class="col-12">
                     CLIENTE   {{ pedido.username }}

                    </div>
                  </div>
                </div>

                <div id="boxunodos">
                  <div id="box1">
                    <div class="row">

                      {% for producto in pedido.productos %}
                        {% if producto.cantidad != 0 %}
                          <div class="col-12">

                            {{ producto.nombre }}
                          </div>
                        {% endif %}
                      {% endfor %}

                    </div>
                  </div>

                  <div id="box2">
                    <div class="row">
                      {% for producto in pedido.productos %}

                        <div class="col-12">

                          {{ producto.cantidad }}

                        </div>
                      {% endfor %}
                    </div>
                  </div>

                </div>
                <div id="box6DEL" class="{{ pedido.Estado }}">
                  <div class="row">
                    <div class="col-12">
                      PAGO: {{ pedido.Pago }}

                    </div>

                    <div class="col-12">
                     DIRECCION: 
                    <a href="https://www.google.com/maps/search/?api=1&query={{ pedido.direccion }}" 
                    style="color: white;">{{ pedido.direccion }}</a>
                    </div>

                    <div class="col-12">
                    TELEFONO:<a href="https://api.whatsapp.com/send?phone={{ pedido.telefono }}" 
                     style="color: white;">{{ pedido.telefono }}</a>

                    </div>
                    <div class="col-12">
                     MONTO A PAGAR: {{ pedido.Monto_total * (1 - pedido.Descuento / 100) }}

                    </div>
                    <div class="col-12">
                     FECHA: {{pedido.fechaFormateada }}

                    </div>

                  </div>
                </div>

                <div id="box5">
                  <div class="row boxTxtCliente">
                    <div class="col-6">
                      {# <form method="post" action="/session/updatepedido">
                        <input type="hidden" name="Numero_pedido" value="{{ pedido.Numero_pedido }}" >

                        <button type="submit">UPD</button>
                      </form> #}

                    </div>

                    <div class="col-6 boxTxtCliente">

                      {#    <form name="formulario" method="post" action="/session/deletepedido{{ pedido.Numero_pedido}}", pedidoController.deletePedido>
                        <input type="image" id="image" alt="delete" src="https://dulce29.herokuapp.com/static/img/borrado1.png" onclick="return confirm('¿Estás por eliminar un pedido?')">
                      </form> #}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </div>

  </body>

{% endblock %}