{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>PEDIDOS ENTREGADOS</title>
  <script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunction() {
      document
        .getElementById("myDropdown")
        .classList
        .toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown
              .classList
              .remove('show');
          }
        }
      }
    }
  </script>

  <body>
    <div id="navbarAdministrador">
      <div class="row">
        <div class="col-12">
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          <label for="menu-toggle" class="menu-toggle-label">&#9776;</label>
          <ul class="menu" >
            <li>
              <a href="/session/clientes">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes">PEDIDOS PENDIENTES</a>
            </li>
            <li>
              <a href="/session/realizados">PEDIDOS REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">
           PEDIDOS ENTREGADOS
              </a>
            </li>
            <li>
              <a href="/session/estadisticas">ESTADISTICAS</a>
            </li>
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="contenedor-pedidosRealizados">
      <div id="buscadorEntregados">
        <div class="row rowEntregados">

          <div class="col-4">
            <strong>PEDIDOS ENTREGADOS</strong>
          </div>

          <div class="col-4">
            <strong>PEDIDOS EN EFECTIVO</strong>
          </div>
          <div class="col-4">
            <strong>RECAUDACION EFECTIVO</strong>
          </div>

        </div>

        <div class="row rowEntregadosDatos">

          <div class="col-4">{{contadorEntregados}}</div>

          <div class="col-4">{{contadorEfectivo}}</div>
          <div class="col-4"></div>

        </div>

      </div>

      <div id="boxPedido">
        {% for pedido in pedidos %}
          <div id="info-pendientesBox">
            <div id="pendientesBox">
              <div id="box3">
                <div class="row">

                  <div class="col-6  boxTxt ">
                                  Nº    
                              {{pedido.Mes}}-{{ pedido.Numero_pedido }}
                  </div>
                  <div class="col-6 boxTxtEstadoEntregados">
                    <form name="formularioCambio" method="get" action="/session/cambioEstadoCobrado/{{ pedido.Numero_pedido }}">
                      <input type="submit" value="{{ pedido.Estado }}" class="{{ pedido.Estado }}" onclick="return confirm('¿Estás por cambiar eL pedido de Entregado a Cobrado ?')">
                    </form>

                  </div>
                </div>
              </div>
              <div id="box4">
                <div class="row boxTxtCliente">
                  <div class="col-12">
                    {{ pedido.username }} || {{pedido.fechaFormateada }}

                  </div>
                </div>
              </div>
              <div id="box5">
                <div class="row boxTxtCliente">
                  <div class="col-6">
                    <form method="post" action="/session/updatepedido">
                      <input type="hidden" name="Numero_pedido" value="{{ pedido.Numero_pedido }}" >

                      <button type="submit">UPD</button>
                    </form>
                  </div>

                  <div class="col-6 boxTxtCliente">
                    <form name="formulario" method="post" action="/session/deletepedido{{ pedido.Numero_pedido}}", pedidoController.deletePedido>
                      <input type="image" id="image" alt="delete" src="https://dulce29.herokuapp.com/static/img/borrado1.png" onclick="return confirm('¿Estás por eliminar un pedido?')">
                    </form>
                  </div>
                </div>
              </div>

              <div id="boxunodos">
                <div id="box1">
                  <div class="row">

                    {% for producto in pedido.productos %}

                      <div class="col-12">
                        {{ producto.nombre }}

                      </div>
                    {% endfor %}
                  </div>
                </div>

                <div id="box2">
                  <div class="row">
                    {% for producto in pedido.productos %}

                      <div class="col-12">

                        {{ producto.cantidad }}

                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

            </div>
          </div>

          {# <div id="info-pendientes">

            <div class="row">

              <div class="col-6 boxTxt">
            Nº    
              {{ pedido.Numero_pedido }}
              </div>
              <div class="col-6 boxTxtEstadoEntregados">
                <form name="formularioCambio" method="get" action="/session/cambioEstadoCobrado/{{ pedido.Numero_pedido }}">
                  <input type="submit" value="{{ pedido.Estado }}" class="{{ pedido.Estado }}" onclick="return confirm('¿Estás por cambiar eL pedido de Entregado a Cobrado ?')">
                </form>

              </div>
            </div>
            <div class="row">
              <div class="col-12 boxTxtCliente">
                {{ pedido.username }} || {{pedido.fechaFormateada }}

              </div>
              <div class="col-12 boxTxtClientePago">
                {{ pedido.Pago }} || {{pedido.fechaFormateada }}

              </div>
            </div>

            <div class="row scrolling" >
              {% for i in range(pedido.productos | length) %}
                <div class="col-10">

                  <label class="infoPendientesBoxNombre">{{ pedido.productos[i] }}</label>

                </div>
                <div class="col-2">
                  <label class="infoPendientesBox">{{ pedido.cantidad[i] }}</label>
                </div>

              {% endfor %}

            </div>

            <div class="row boxTxtCliente">

              <div class="col-6">
                <form method="post" action="/session/updatepedido">
                  <input type="hidden" name="Numero_pedido" value="{{ pedido.Numero_pedido }}" >

                  <button type="submit">UPD</button>
                </form>
              </div>

              <div class="col-6">
                <form name="formulario" method="get" action="/session/deletepedidoR{{ pedido.Numero_pedido}}", pedidoController.deletePedidoR>
                  <input type="image" id="image" alt="delete" src="http://localhost:3001/static/img/borrado1.png" onclick="return confirm('¿Estás por eliminar un pedido?')">
                </form>
              </div>

            </div>

          </div> #}
        {% endfor %}
      </div>

      <div id="tableroPendienteTotalWeb">

        <div class="row">
          <div class="col-9">
            <!-- Columna para el nombre del producto -->
            <ul >

              <li class="pedidoPendientesTotal">TOTAL PEDIDOS</li>

            </ul>
          </div>

          <div class="col-3">
            <label class="rowpedidoEntregadosTotalDatos">
              {{ contadorEntregados }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <!-- Columna para el nombre del producto -->
            <ul >
              {% for mensaje in mensajes %}
                <li class="pedidoPendientesTotal">{{ mensaje.nombre }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-3">
            <!-- Columna para la cantidad -->
            <ul>
              {% for mensaje in mensajes %}
                <li class="rowpedidoEntregadosTotalDatos">{{ mensaje.cantidad }}</li>
              {% endfor %}
            </ul>
          </div>
          {#   {% for producto, cantidad in pedidos %}
                  <div class="col-10">
                    <label class="infoPendientesBoxNombre">{{ pedido.producto }}</label>
                  </div>
                  <div class="col-2">
                    <label class="infoPendientesBox">{{ pedido.cantidad }}</label>
                  </div>
                {% endfor %} #}
        </div>

      </div>

    </div>

    {#   <div id="buscadorEntregados">
      <div class="row rowEntregados">

        <div class="col-4">
          <strong>PRECIO VENTA</strong>
        </div>

        <div class="col-4">
          <strong>COSTOS X LITRO</strong>
        </div>
        <div class="col-4">
          <strong>GANANCIA X LITRO</strong>
        </div>

      </div> 
    {# 
      {% set resultados = [] %}
      {% for producto in productos %}
        <div class="row rowEntregadosDatos">

          <div class="col-4">
            {{ producto.precioVenta }}</div>

          <div class="col-4">
            {{ producto.costoProduccion }}</div>
          <div class="col-4">
            {% set resultado = producto.precioVenta - producto.costoProduccion %}
            {{ resultado }}
            {% set _ = resultados.push(resultado) %}

          </div>

        </div>
      {% endfor %}

    </div> #}

    {#   <div id="tableroEntregadoTotal">

      <div class="row rowEntregados">
        <div class="col-8 ">
          <strong>PRODUCTOS</strong>
        </div>
        <div class="col-2 ">

          <strong>TOTAL LITROS </strong>
        </div>
        <div class="col-2 ">

          <strong>GANANCIAS TOTALES</strong>
        </div>

      </div>
      {% set total = 0 %}
      {% for key, value in sumaProductos %}
        {% if value%}
          <div class="row rowEntregadosDatos">
            <div class="col-8">
              {{ key }}
            </div>
            <div class="col-2 ">

              {{ value }}
            </div>
            <div class="col-2 ">
              {% set subtotal = resultados[loop.index0] * value %}
              {{ subtotal }}
              {% set total = total + subtotal %}

            </div>

          </div>
        {% endif %}
      {% endfor %}
      <div class="row rowEntregados">
        <div class="col-8 ">
          <strong>TOTAL VENTAS POR COBRAR</strong>
        </div>
        <div class="col-2 ">

          <strong></strong>
        </div>
        <div class="col-2 ">
         $  {{total}}
        </div>

      </div>

    </div> #}

  </body>

{% endblock %}