<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
  <title>LOGIN ADMINISTRADOR</title>
  <link rel="stylesheet" href="https://dulce29.herokuapp.com/static/css/styleAdmin.css"/>
  <link rel="stylesheet" href="https://dulce29.herokuapp.com/static/css/styleMovil.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div>

    <div id="logoAdmin">
      <label><img src="https://dulce29.herokuapp.com/static/img/logo.jpg"/></label>
    </div>

    <div id="login">
      <div class="row">
        <form  method="post" action="/session/administrador">

          <div class="col-12">

            <label for="username" class="form-label txtLoginAdmin">USU</label>
            <input type="text" name="usuario"  class="form-control1" required="true"/>

            <label for="password" class="form-label txtLoginAdmin">CONTRASEÑA</label>
            <input type="password" name="password"   class="form-control1" required="true"/>

            <button type="submit" name="button" class="btninicio">
                  Iniciar sesión
                </button>
          </div>
          {# 
          <div class="col-12">
            <form action="/tu-ruta-de-envio" method="post">
              <!-- Etiqueta y campo de entrada para Usuario -->
              <label for="username">Usuario:</label>
              <input type="text" id="username" name="username" value="username" class="form-control" required>

              <!-- Etiqueta y campo de entrada para Contraseña -->
              <label for="password">Contraseña:</label>
              <input type="password" id="password" name="password" value="password" class="form-control" required>

              <!-- Botón de envío -->
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div> #}

        </form>
      </div>
    </div>

  </div>

</body>
<script>
  // Función para obtener parámetros de la URL
  function getParameterByName(name, url) {
    if (!url) 
      url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
    if (!results) 
      return null;
    if (!results[2]) 
      return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  // Verificar si hay un mensaje de error en la URL
  var errorMessage = getParameterByName('error');

  // Mostrar un mensaje de error si es necesario
  / Mostrar un mensaje de error si es necesario
if (errorMessage) {
  var messageToShow;

  switch (errorMessage) {
    case 'UsuarioIncorrecto':
      messageToShow = 'El usuario es incorrecto. Por favor, inténtelo de nuevo.';
      break;

    case 'ContraseñaIncorrecta':
      messageToShow = 'La contraseña es incorrecta. Por favor, inténtelo de nuevo.';
      break;

    default:
      messageToShow = 'Error desconocido. Por favor, inténtelo de nuevo.';
  }

  alert(messageToShow);
}
</script>