{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>PEDIDOS PENDIENTES</title>

  <script>

    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunction() {
      document
        .getElementById("myDropdown")
        .classList
        .toggle("show");
    } {
      # function myFunctionUser() {
        document
          .getElementById("myDropdownUser")
          .classList
          .toggle("show");
      }
      #
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown
              .classList
              .remove('show');
          }
        }
      }
    }
  </script>

  <body>
    <div id="navbarAdministrador">
      <div class="row">
        <div class="col-12">
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          {# <label for="menu-toggle" class="menu-toggle-label">&#9776;</label> #}
          <ul class="menu">
            <li>
              <a href="/session/clientes">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes" class="linkActivo">PENDIENTES</a>
            </li>
            <li>
              <a href="/session/realizados">REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">ENTREGADOS</a>
            </li>
            <li>
              <a href="/session/cobrados">COBRADOS</a>
            </li>
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div id="contenedor-pedidosPendientes">
      <div id="contenedorlateral">
        <div id="tableroPendienteTotalWeb">

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul >

                <li class="pedidoRealizadosTotal">TOTAL PEDIDOS PENDIENTES</li>

              </ul>
            </div>

            <div class="col-3">
              <label class="pedidoPendientesTotalDatosCantidadPE">
                {{ contador }}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <!-- Columna para el nombre del producto -->
              <ul >
                {% for mensaje in mensajes %}
                  <li class="pedidoRealizadosTotal">{{ mensaje.nombre }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-3">
              <!-- Columna para la cantidad -->
              <ul>
                {% for mensaje in mensajes %}
                  <li class="pedidoPendientesTotalDatosCantidadPE">{{ mensaje.cantidad }}</li>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>

        {#   <div id="newPedido">
          <div class="row nuevoPedidoPendiente">
            <div class="col-12">
              <strong>    PEDIDO NUEVO</strong>
            </div>

          </div>
          <div class="row">
            <div class="col-9">
            
              <ul >

                <li class="pedidoPendientesTotal">CLIENTE</li>

              </ul>
            </div>

            <div class="col-3">
              <form action="/session/newpedido" method="POST">
                <input class="pedidoPendientesTotalDatosCantidad" list="browsers" name="browser" id="browser">
                <datalist id="browsers">
                  {% for user in users %}
                    <option type="text" name="username"  id="username" value="{{user.username}}">

                   
                    {% endfor %}
                  </datalist>
                </div>
              </div>

              <div class="row">
                <div class="col-9">
                  <ul >
                    <li class="pedidoPendientesTotal">PAGO</li>
                  </ul>
                </div>

                <div class="col-3">
                  <input type="text" id="Pago" name="Pago" list="opcionesPago"  class="pedidoPendientesTotalDatosCantidad">
                  <datalist id="opcionesPago">
                    <option value="Efectivo">
                      <option value="Transferencia"></datalist>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-9">
                  
                      <ul >
                        <li class="pedidoPendientesTotal">DESCUENTO</li>
                      </ul>
                    </div>

                    <div class="col-3">
                      <input type="text" id="Descuento" name="Descuento" list="opcionesDescuento" class="pedidoPendientesTotalDatosCantidad">
                      <datalist id="opcionesDescuento">
                        <option value="0">
                          <option value="5">
                            <option value="10">
                              <option value="15">
                                <option value="25">
                                  <option value="100"></datalist>
                              
                                </div>
                              </div>

                             
                              <div class="row">
                                {% for producto in productos %}
                                  <div class="col-9">
                                    <label class="pedidoPendientesTotal">
                                      {{ producto.name }}
                                  
                                    </label>
                                    <input type="hidden" name="productos[]" value="{{ producto.name }}">
                                    <input type="hidden" name="precios[]" value="{{ producto.precioVenta }}">
                                    <input type="hidden" name="costos[]" value="{{ producto.costoProduccion }}">
                                  </div>

                                  <div class="col-3">
                                    <input type="number" class="rowpedidoEntregadosTotalDatosColor" name="cantidades[]" value="0">
                                  </div>
                                {% endfor %}
                              </div>

                              <button type="submit" class="btn-primary btnCliente">AGREGAR</button>
                            </form>

                          </div> #}

        <div id="boxPedido">
          {% for pedido in pedidos %}
            <div id="info-pendientesBox">
              <div id="pendientesBox">
                <div id="box3">
                  <div class="row">

                    <div class="col-6  boxTxt ">
                                  Nº    
                              {{pedido.Mes}}-{{ pedido.Numero_pedido }}
                    </div>
                    <div class="col-6  {{ pedido.Estado }}">
                      <form name="formularioCambio" method="get" action="/session/cambioEstadoRealizado/{{ pedido.Numero_pedido }}">
                        <input type="submit" value="{{ pedido.Estado }}" class="{{ pedido.Estado }}" onclick="return confirm('¿Estás por cambiar el pedido de Pendiente a Realizado?')">
                      </form>

                    </div>
                  </div>
                </div>
                <div id="box4">
                  <div class="row boxTxtCliente">
                    <div class="col-12">
                      {{ pedido.username }} || {{pedido.fechaFormateada }}

                    </div>
                  </div>
                </div>

                <div id="boxunodos">
                  <div id="box1">
                    <div class="row">

                      {% for producto in pedido.productos %}

                        <div class="col-12">

                          {{ producto.precio }}
                          {{ producto.nombre }}
                          {#   {{ producto.costo}} #}
                        </div>

                      {% endfor %}

                    </div>
                  </div>

                  <div id="box2">
                    <div cl{#  #}ass="row">
                      {% for producto in pedido.productos %}
                        {% if producto.cantidad != 0 %}
                          <div class="col-12">
                            {{ producto.cantidad }}
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div id="box6" class="{{ pedido.Estado }}">
                  <div class="row">
                    <div class="col-12">
                      {{ pedido.Pago }}

                    </div>
                    <div class="col-12">
                                       COSTO  {{ pedido.Costo_total }} || {{ pedido.Monto_total }} TOTAL 

                                      </div>
                    <div class="col-12">
                      {{ pedido.Descuento }}% OFF || {{ pedido.Monto_total * (1 - pedido.Descuento / 100) }} PRECIO FINAL

                                      </div>

                  </div>
                </div>

                <div id="box5">
                  <div class="row boxTxtCliente">
                    <div class="col-6">
                      <form method="post" action="/session/updatepedido">
                        <input type="hidden" name="Numero_pedido" value="{{ pedido.Numero_pedido }}" >

                        <button type="submit">UPD</button>
                      </form>
                    </div>

                    <div class="col-6 boxTxtCliente">
                      <form name="formulario" method="post" action="/session/deletepedido{{ pedido.Numero_pedido}}", pedidoController.deletePedido>
                        <input type="image" id="image" alt="delete" src="https://dulce29.herokuapp.com/static/img/borrado1.png" onclick="return confirm('¿Estás por eliminar un pedido?')">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>

{% endblock %}