{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>ACTUALIZAR CLIENTE</title>
  <body>

    <div id="navbarAdministrador">
      <div class="row">
        <div class="col-12">
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          <label for="menu-toggle" class="menu-toggle-label">&#9776;</label>
          <ul class="menu">
            <li>
              <a href="/session/clientes">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes">PEDIDOS PENDIENTES</a>
            </li>
            <li>
              <a href="/session/realizados">PEDIDOS REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">PEDIDOS ENTREGADOS</a>
            </li>
            <li>
              <a href="/session/estadisticas">PEDIDOS COBRADOS</a>
            </li>
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="contenedor-clientes">
      <div id="info-ProductoUpdate">
        <form name="formulario" method="post" action="refreshproducto" enctype="multipart/form-data">
          <div class="row">

            <div class="col-4 inputUpdProtxt">
              PRODUCTO
            </div>

            <div class="col-8 inputUpdPro">
              <input type ="text" name="name" id="name" class="inputUpdProbox"  value="{{name}}" >
            </div>

          </div>

          <div class="row">
            <div class="col-4 inputUpdProtxt">
              DESCRIPCION
            </div>
            <div class="col-8 inputUpdPro"><input type ="text" class="inputUpdProbox"  name="desc" id="desc" value="{{desc}}"></div>

          </div>

          <div class="row">
            <div class="col-4 inputUpdProtxt">
            IMAGEN
            </div>
            <div class="col-8 inputUpdPro"><input type="file" class="inputUpdProbox"   id="image" name="image" value="{{img}}}" required></div>
          </div>
          <div class="row">
            <div class="col-4 inputUpdProtxt">
          NUMERO ID
            </div>
            <div class="col-8 inputUpdPro"><input type="text" class="inputUpdProbox"   id="numeroProducto" name="numeroProducto" value="{{numeroProducto}}" ></div>
          </div>
          <div class="row">
            <div class="col-4 inputUpdProtxt">
          PRECIO VENTA
            </div>
            <div class="col-8 inputUpdPro"><input type ="text" class="inputUpdProbox" name="precioVenta" id="precioVenta" value="{{precioVenta}}"></div>
          </div>
          <div class="row">
            <div class="col-4 inputUpdProtxt">
          COSTO PRODUCCION
            </div>

            <div class="col-8 inputUpdPro"><input type="text" class="inputUpdProbox"  id="costoProduccion" name="costoProduccion" value="{{costoProduccion}}" ></div>
          </div>
          <div class="row">
            <div class="col-4"></div>

            <div class="col-3">
              <input type="submit" class="btnUpdate" value="GUARDAR"/>
            </div>
            <div class="col-3">
              <a href="/session/productosAdmin">
                <input   type="submit" class="btnUpdate" value="CANCELAR"/></a>
            </div>
            <div class="col-2"></div>
          </div>
        </form>
      </div>

      {# <div class="row">
        <form name="formulario" method="post" action="refresh" class="row">

          <input type="hidden" name="userid" id="userid" value="{{ userid }}">

          <div class="col-sm-2">
            <input class="rowmovilUpdate" type="text" name="usernameSalida" id="usernameSalida" value="{{ usernameSalida }}">
          </div>
          <div class="col-sm-2">
            <input class="rowmovilUpdate"  type="text" name="telefonoSalida" id="telefonoSalida" value="{{ telefonoSalida }}">
          </div>
          <div class="col-sm-2">
            <input class="rowmovilUpdate"  type="text" name="direccionSalida" id="direccionSalida" value="{{ direccionSalida }}">
          </div>
          <div class="col-sm-2">
            <input class="rowmovilUpdate"  type="text" name="emailSalida" id="emailSalida" value="{{ emailSalida }}">
          </div>
          <div class="col-sm-2">
            <input type="submit" class="btnUpdate" value="GUARDAR"/>
          </div>
          <div class="col-sm-2">
            <a href="/session/clientes" class="alink">
              <input   type="submit" class="btnUpdate" value="CANCELAR"/></a>
          </div>
        </form>
      </div> #}

    </div>
  </div>

</body>

{% endblock %}