{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>ACTUALIZAR CLIENTE</title>
  <body>

    <div id="navbarAdministrador">
      <div class="row">
        <div class="col-12">
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          {# 
          <label for="menu-toggle" class="menu-toggle-label">&#9776;</label> #}
          <ul class="menu">
            <li>
              <a href="/session/clientes">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes">PENDIENTES</a>
            </li>
            <li>
              <a href="/session/realizados">REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">ENTREGADOS</a>
            </li>
            <li>
              <a href="/session/cobrados">COBRADOS</a>
            </li>
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {#  admin- usuario          #}
    <div id="contenedor-clientes">
      {# <div id="info-clientesUpdate">

        <div class="row rowmovilinvisible">
          <div class="col-2">
            <strong>NOMBRE</strong>
          </div>
          <div class="col-2">
            <strong>TELEFONO </strong>
          </div>
          <div class="col-2">
            <strong>DIRECCION </strong>
          </div>
          <div class="col-2">
            <strong>EMAIL </strong>
          </div>
          <div class="col-2"></div>
          <div class="col-2"></div>
        </div>

        <div class="row">
          <form name="formulario" method="post" action="refresh" class="row">

            <input type="hidden" name="userid" id="userid" value="{{ userid }}">

            <div class="col-sm-2">
              <input class="rowmovilUpdate" type="text" name="usernameSalida" id="usernameSalida" value="{{ usernameSalida }}">
            </div>
            <div class="col-sm-2">
              <input class="rowmovilUpdate"  type="text" name="telefonoSalida" id="telefonoSalida" value="{{ telefonoSalida }}">
            </div>
            <div class="col-sm-2">
              <input class="rowmovilUpdate"  type="text" name="direccionSalida" id="direccionSalida" value="{{ direccionSalida }}">
            </div>
            <div class="col-sm-2">
              <input class="rowmovilUpdate"  type="text" name="emailSalida" id="emailSalida" value="{{ emailSalida }}">
            </div>
            <div class="col-sm-2">
              <input type="submit" class="btnUpdate" value="GUARDAR"/>
            </div>
            <div class="col-sm-2">
              <a href="/session/clientes" class="alink">
                <input   type="submit" class="btnUpdate" value="CANCELAR"/></a>
            </div>
          </form>
        </div>

      </div> #}
      <div id="info-pedidosUpdate">
        <form name="formulario" method="post" action="refresh" class="row">

          <input type="hidden" name="userid" id="userid" value="{{ userid }}">
          <div class="row rowmovilinvisibleUpdate">

            <div class="col-9">
              <label for="nombre" class="pedidoPendientesTotalNU">NOMBRE</label>
            </div>
            <div class="col-3">
              <input type="text" name="usernameSalida" value="{{ usernameSalida }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisibleUpdate">
            <div class="col-9">
              <label for="telefono" class="pedidoPendientesTotalNU">TELEFONO</label>
            </div>
            <div class="col-3">
              <input type="text" name="telefonoSalida" value="{{ telefonoSalida }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisibleUpdate">
            <div class="col-6">
              <label for="direccion" class="pedidoPendientesTotalNU">DIRECCION</label>

            </div>
            <div class="col-6">
              <input type="text" name="direccionSalida" value="{{ direccionSalida }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisibleUpdate">
            <div class="col-6">
              <label for="email" class="pedidoPendientesTotalNU">EMAIL</label>
            </div>
            <div class="col-6">
              <input type="text" name="emailSalida" value="{{ emailSalida }}" class="formcontrolUpdate">
            </div>
          </div>
          <div class="row">
            <div class="col-6 rowUpdate">
              <label for="repitepedido" class="pedidoPendientesTotalNU">REPITE PEDIDO</label>
            </div>
            <div class="col-6">

              <input type="checkbox" id="repitePedidoSalida" name="repitePedidoSalida" value="true">
            </div>
          </div>
          <div class="row rowmovilinvisibleUpdate">
            <div class="col-6">
              <label for="pedidoendias" class="pedidoPendientesTotalNU">REPITE PEDIDO EN DIAS</label>
            </div>
            <div class="col-6">
              <input type="number" name="intervaloRepetición" value="{{ intervaloRepetición }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <input type="submit" class="btnUpdate" value="GUARDAR"/>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <a href="/session/clientes" class="alink">
                <input type="submit" class="btnUpdate" value="CANCELAR"/>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>

  </body>

{% endblock %}