{% extends "masterAdministrador.njk" %}
{% block main %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>ACTUALIZAR PEDIDO</title>

  <body>

    <div id="navbarAdministrador">
      <div class="row">
        <div class="col-12">
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          {# 
          <label for="menu-toggle" class="menu-toggle-label">&#9776;</label> #}
          <ul class="menu">
            <li>
              <a href="/session/clientes">CLIENTES</a>
            </li>
            <li>
              <a href="/session/pendientes">PENDIENTES</a>
            </li>
            <li>
              <a href="/session/realizados">REALIZADOS</a>
            </li>
            <li>
              <a href="/session/entregados">ENTREGADOS</a>
            </li>
            <li>
              <a href="/session/cobrados">COBRADOS</a>
            </li>
            <li>
              <a href="/session/productosAdmin">PRODUCTOS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {#  admin- usuario          #}
    <div id="contenedorPedidoUpdate">

      <div id="info-pedidosUpdate">
        <form name="formulario" method="post" action="refreshPedido" class="row">
          <div class="row rowmovilinvisible">

            <div class="col-3">
              <strong>CLIENTE</strong>
            </div>
            <div class="col-9">
              <input type="text" name="username" value="{{ pedido.username }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisible">
            <div class="col-3">
              <strong>NUMERO PEDIDO</strong>
            </div>
            <div class="col-9">
              <input type="text" name="Numero_pedido" value="{{ pedido.Numero_pedido }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisible">
            <div class="col-3">
              <strong>TELEFONO</strong>
            </div>
            <div class="col-9">
              <input type="text" name="telefono" value="{{ pedido.telefono }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisible">
            <div class="col-3">
              <strong>MONTO TOTAL</strong>
            </div>
            <div class="col-9">
              <input type="text" name="Monto_total" value="{{ pedido.Monto_total }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisible">
            <div class="col-3">
              <strong>PAGO</strong>
            </div>
            <div class="col-9">
              <input type="text" name="Pago" value="{{ pedido.Pago }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisible">
            <div class="col-3">
              <strong>DESCUENTO</strong>
            </div>
            <div class="col-9">
              <input type="text" name="Descuento" value="{{ pedido.Descuento }}" class="formcontrolUpdate">
            </div>
          </div>

          <div class="row rowmovilinvisible">
            <div class="col-3">
              <strong>FECHA</strong>
            </div>
            <div class="col-9">
              <input type="text" name="createdAt" value="{{ pedido.createdAt }}" class="formcontrolUpdate">
            </div>
          </div>
          <input type="hidden" name="total_productos" id="total_productos" value="{{ pedido.productos.length }}">

          {% for producto in pedido.productos %}
            <div class="row rowmovilinvisible">
              <div class="col-3">
                <strong>NOMBRE</strong>
              </div>
              <div class="col-9">
                <input type="text" name="producto_nombre_{{ loop.index }}" value="{{ producto.nombre }}" class="formcontrolUpdate">
              </div>
            </div>

            <div class="row rowmovilinvisible">
              <div class="col-3">
                <strong>CANTIDAD</strong>
              </div>
              <div class="col-9">
                <input type="text" name="producto_cantidad_{{ loop.index }}" value="{{ producto.cantidad }}" class="formcontrolUpdate">
              </div>
            </div>

            <div class="row rowmovilinvisible">
              <div class="col-3">
                <strong>PRECIO</strong>
              </div>
              <div class="col-9">
                <input type="text" name="producto_precio_{{ loop.index }}" value="{{ producto.precio }}" class="formcontrolUpdate">
              </div>
            </div>

          {% endfor %}

          <div class="row rowmovilinvisible">
            <div class="col-sm-2">
              <input type="submit" class="btnUpdate" value="GUARDAR"/>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
              <a href="/session/clientes" class="alink">
                <input   type="submit" class="btnUpdate" value="CANCELAR"/>
              </a>
            </div>
          </div>
        </form>
      </div>

    </div>

  </body>

{% endblock %}