
/*--------------------------- Master Administrador------------------------------------------------*/
#contenedorMasterAdministrador {
  background-color: #ffffff;
  height: 420px;
  margin-left: 50px;
  margin-top: 10px;
  position: absolute;
  width: auto;
}

#logoAdministrador {
  display: inline-block;
  height: 60px;
  margin-left: 660px;
  margin-top: 80px;
  position: relative;
  width: 400px;
}

#navbarAdministrador {
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: 800;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 346px;
  margin-top: 60px;
  text-align: center;
  width: 800px;
}

/* unvisited link */
a.menu:link {
  color: rgba(204, 207, 204, 0.523);
  text-decoration: none;
}

/* visited link */
a.menu:visited {
  background-color: #416651;
  color: rgb(34, 34, 34);
  text-decoration: none;
}

/* mouse over link */
a.menu:hover {
  background-color: #a6cc958d;
  border-radius: 4px;
  color: #000000;
  padding: 8px;
}

/* selected link */
a.menu:active {
  color: rgb(12, 13, 14);
}



/*--------------------------- Login Administrador------------------------------------------------
------------------------------------------------------------------------------------------------*/

#logoAdmin {
  width: 400px;
  margin-top: 80px;
  margin-left: 660px;
  height: 60px;
  position: relative;
  display: inline-block;
}

#login {
  text-align: right;
  margin-left: 640px;
  background-color: #ffffff;
  height: 380px;
  font: 0.9rem sans-serif;
  padding-right: 5px;
  margin-top: 90px;
  width: 180px;
  position: absolute;
  word-spacing: 0.8rem;


}

.txtLoginAdmin{
  margin-top: 8px;
}

.form-control1 {
  width: 90px;
  margin-top: 5px;
  margin-right: 18px;
  height: 24px;
  font-size: 1.3rem;
  border-radius: 4px;
  border-color: rgb(248, 249, 250);
  }

  .btninicio{
    font-size: 1.2rem;
    width: 90px;
    margin-top: 10px;
    margin-right: 18px;
    height: 18px;
    background-color: #9bc19d;
    border: none;
  }
  .alink{
    color: #000;
  }
  .alink:hover{
    color: #000;
  }
  .btnUpdate{
    font-size: 0.9rem;
    margin-top: 14px;
    width: 90px;
    height: 18px;
    margin-left: 30px;
    background-color: #9bafc1;
    border: none;
    outline: none;
    
  }
  input[type="text"] {
    /* Estilos para el input de tipo texto */
    /* Por ejemplo: */
    border: none;
    padding: 5px;
  }

  input[type="text"]:focus {
    outline: none; /* Cambia "blue" por el color que desees */
  }
   
  

/*----------------------------index administrador----------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/
/* #contenedor-pedidosPendientes{
    margin-left: 20%;
    margin-top: 20px;
    width: 1040px;
    height: 420px;
    background-color: #ffffff;
    position: absolute;
  
 }
 .rowpedidoPendiente{
  background-color: #afafaf3e;
  padding-top: 6px;
  font-size: 1rem;
  margin-bottom: 2px;
  text-align: center;
  width: 720px;
  height: 28px;
}
.pedidoPendiente{
  background-color: #ffffff;
  padding-top: 6px;
  font-size: 1rem;
  margin-bottom: 2px;
  text-align: center;
  width: 720px;
  height: 28px;
} */



.dropbtn {
  font-size: 10px;
  position: absolute;
  padding: 5px;
  margin-left: 40px;
  height: 40PX;
width: 80px;
background-color: #696c6a;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #696c6a;
}

.dropdown {
  position: absolute;
  margin-left: 660px;
  display: inline-block;
}

.dropdown-content {
  display:grid;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
margin-left: -8px;
  position: absolute;
  margin-top: 60px;
  height: 90px;
  width: 180px;
  overflow: auto;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



/*-----------------------------------clientes------------------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/

#contenedor-clientes{
  margin-left: 20%;
  margin-top: 20px;
  width: 1040px;
  height: 420px;
  background-color: #ffffff;
  position: absolute;
}

#info-clientes{
  margin-left: 70px;
   width: 640px;
   height: 320px;
   background-color: #ffffff;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 20px;
 }

 #popup{
  background-color: #116fad;
 }
 #info-clientesUpdate{
  margin-left: 145px;
   width: 740px;
   height: 320px;
   background-color: #ffffff;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 20px;
 
 }
 #info-ProductoUpdate{
  margin-left: 300px;
   width: 430px;

   height: auto;
   background-color: #dddada;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
 
 }

 .inputUpdPro{
  padding-top: 5px;
  width: 300px;
  margin-left: 10px;
  background-color: #b2b5b7;
 }
 .inputUpdProtxt{
  padding-top: 5px;
  margin-left: 10px;
  width: 90px;
  background-color: #94a5b1;
 }
 .inputUpdProbox{
  padding-top: 5px;
  width: 250px;
  height: 18px;
  margin-left: 10px;
 }


.btnCliente{
  font-size: 0.9rem;
  width: 110px;
  margin-left: 50px;
  margin-top: 8px;
  background-color: #71a381;
  height: 20px;
  border-radius: 4px; 
}
.btnClienteBuscador{
  font-size: 0.9rem;
  width: 118px;
  margin-right: 5px;
  float: right;
  margin-top: 8px;
  background-color: #71a381;
  height: 20px;
  border-radius: 4px; 
}
.tituloRealizado{
  font-size: 1rem;
  margin-top: 8px;
  margin-right: 40px;
  margin-bottom: 10px;
}
 .rowmovilinvisible{
  background-color: #afafaf3e;
  padding: 4px;

 }

 .rowmovil{
  background-color: #ffffff;
  margin-top: 4px;
  height: 20px;
}
.rowmovilUpdate{
  background-color: #ffffff;

  margin-top: 4px;
  width: 600px;
  height: auto;
  text-decoration: none;
  border: none;
}

 #newUserMovil {
  margin-top: 0px;
  text-align: right;
  width: 240px;
  height: 200;
  margin-left: 760px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}

.nuevo-cliente{
background-color: #afafaf3e;
width: 220px;
font-size: 1.1rem;
padding-top: 2px;
font-weight: bold;
text-align: center;
height: 22px;
}
.nuevoProducto{
  background-color: #afafaf3e;
  font-size: 1rem;
  padding: 4px;
  font-weight: bold;
  text-align: center;
  height: 22px;
  }

  .marginProducto{
    margin-top: 20px;
    width: 310px;
  }

.formCliente{
  font-size: 0.9rem;
  display: inline;
  margin-top: 8px;
  margin-left: 0px;
  border: 1px;
  background-color: #eceaea;
  height: 20px;
  border-radius: 2px;
}
.formClientePendiente{
  font-size: 0.9rem;
  width: 40px;
  display: inline;
  margin-top: 8px;
  margin-left: 0px;
  border: 1px;
  background-color: #eceaea;
  height: 20px;
  border-radius: 2px;
}
.listadoProductos{
  font-size: 0.9rem;
  height: 20px;
  width: auto;
  background-color: #fff;
  text-align: right;
  margin-top: 3px;
  padding-top: 2.5px;
  padding-left: 0px;
}
.listadobuscadorCliente{
  font-size: 0.9rem;
  height: 20px;
  width: auto;
  background-color: #fff;
  text-align: right;
  margin-top: 8px;
  padding-top: 2.5px;
  padding-left: 0px;
}
.formClienteCantidad{
  font-size: 0.9rem;
  width: 40px;
  margin-top: 3px;
  padding-top: 2.5px;
  margin-right: 20px;
  float: right;
  border: 1px;
  background-color: #eceaea;
  height: 20px;
  border-radius: 2px;
}
#navbarAdministrador .menu-toggle {
  display: none;

}

#navbarAdministrador .menu {
  list-style: none;
  padding: 6px;
  padding-left: 3px;
  margin: 0;
}

#navbarAdministrador .menu li {
  display: inline-block;
  margin-left: 8px;
}

#navbarAdministrador .menu a:hover {
  color: rgb(37, 76, 108); /* Cambia el color del enlace visitado a rojo */
  text-decoration: none;
}


.nuevo-clienteMovil{
  display: none;
}



.busquedaClienteMovil{
  display: none;
}
#busqueda-clienteMovil{
  display: none;
}




/*------------------------------------pedidos Pendientes--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/

#contenedor-pedidosPendientes{
  margin-left: 16%;
  margin-top: 30px;
  width: 1080px;
  height: auto;
  background-color: #97d88a;
  position: relative;

}
.boxCantidad{
  background-color: #e7d6ae;
  border-radius: 4px;
  margin-top: 5px;
  width: 40px;
  padding-left: 3px;
  margin-right: 5px;
  border: none;
}
.rowpedidoPendiente{
background-color: #afafaf3e;
margin-left: 60px;
padding-top: 6px;
padding-left: 4px;;
padding-bottom: 6px;
display: inline-block;
margin-bottom: 5px;
font-size: 1rem;
text-align: left;
width: 980px;
height: 20px;
}
.rowpedidoPendienteLabel{
  margin-left: 0px;
  height: auto;
}
#tableroPendienteTotal{
  width: 640px;
  margin-top: 50px;
  margin-left: 15px;
  height: auto;
  position: relative;
  background-color: #fff;
}

/* #infoPendientes{
  margin-left: 10px;
   width: 1040px;
   height: auto;
   background-color: #fff;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 10px;
 } */

 .rowpedidoPendientesTotal{
  background-color: #f9f9f7e8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 20px;
  padding-left: 20px;
  display: inline;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: left;
  width: 260px;
  height: 20px;
  }
  .pedidoPendientesTotalInfo{
    background-color: #f9f9f7e8;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: left;

    width: 260px;
    height: 20px;
    }

  .pedidoPendientesTotal{
    background-color: #f9f9f7e8;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 3px;
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: left;
    width: 260px;
    height: 20px;
    }
    .col-3 ul {
      list-style: none; /* Elimina los puntos de lista */
      padding: 0; /* Elimina el relleno predeterminado de la lista */
    }
    .col-9 ul {
      list-style: none; /* Elimina los puntos de lista */
      padding: 0; /* Elimina el relleno predeterminado de la lista */
    }

    .pedidoPendientesTotalDatosCantidad{
      color: #000;
      background-color:  #cd9090;
      border: none;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      margin-left: 4px;
      padding-top: 4px;
      padding-left: 4px;;
      padding-right: 4px;
      padding-bottom: 4px;
      display: block;
      border-radius: 4px;
      margin-bottom: 5px;
      font-size: 1rem;
      text-align: center;
      width: 38px;
      height: 20px;
        }

    .pedidoPendientesTotalDatos{
      color: #fff;
      background-color:  #b36767;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      margin-left: 0px;
      padding-top: 4px;
      padding-left: 4px;;
      padding-right: 4px;
      padding-bottom: 4px;
      display: block;
      border-radius: 4px;
      margin-bottom: 5px;
      font-size: 1rem;
      text-align: center;
      width: 20px;
      height: 20px;
        }
    
 .rowpedidoPendientesTotalDatos{
  color: #fff;
  background-color:  #b36767;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 20px;
  padding-top: 4px;
  padding-left: 4px;;
  padding-right: 4px;
  padding-bottom: 4px;
  display: inline;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
  width: 30px;
  height: 20px;
    }


.pedidoPendiente{
background-color: #ffffff;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
text-align: center;
width: 720px;
height: 28px;
}
#boxPedidoRealizado{
  width: 740px;
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 2px;
position: absolute;
  float: left;
  margin-top: 10px;
  padding-left: 0px;
  padding-top: 8px;
  border-radius: 4px;
  background-color: #fff;

  height: auto;

}
#espaciadoBottom{
  width: auto;
  height: 20px;
}

.alturaBox{
  height: 10px;
}
#info-pendientesBox{

  width: 220px;

  height: 200px;
  background-color: #fff; 
  border-radius: 4px;
  position: relative;
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 15px;
  margin-bottom:38px;
} 
#pendientesBox{

  width: 220px;
  padding-left: 10px;
  padding-top: 6px;
  height: auto;
  margin-bottom: 30px;

  margin-left:3px;
} 

#box5 {
  width: 150px;
  margin-top: 5px;
  margin-left: 10%;
    height: auto;
    background-color: #c5c0b3; 
}

#boxunodos {
  width: 210px;
  margin-top: 5px;
  padding-left: 8px;
  position: absolute;
  max-height: 120px;
  overflow-y: auto; 
  overflow-x: hidden; 
  background-color: #fff;
  display: inline-block;
}

#box1 {
  width: 170px;
  height: auto;
  padding-left: 8px;

  margin-top: 5px;
  display: inline-block;
  vertical-align: top; /* Alinea en la parte superior */
}

#box2 {
  width: 10px;
  height: auto;
  padding-left: 8px;
 
  margin-top: 5px;
  display: inline-block;
  vertical-align: top; /* Alinea en la parte superior */
}


#box3{

  width: 150px;
margin-top: 0px;
margin-left: 10%;
  height: auto;
  background-color: #c2c5b3; 

} 
#box4{

  width: 150px;
margin-top: 5px;
margin-left: 10%;
  height: auto;
  background-color: #c5c0b3; 

} 
#box6{

  width: 170px;
  text-align: center;
  background-color: #717068;
margin-top: 130px;
margin-left: 5%;
color: #fff;
font-size: 1rem;
  height: 40px;
  padding-top: 4px;

} 
#info-pendientes{

   width: 230px;
   height: 300px;
   background-color: #777373; 
   position: relative;
   display: block;
   font-size: 1.1rem;
   margin-left: 15px;
 } 



 .row1{
  background-color: #55ac7a;
  width: 720px;
 }
 .boxTxt{
 text-align: center;

 background-color: #c2cfe2;


 }

.boxFecha{
  text-align: center;
  font-size: 1rem;

  background-color: #c2cfe2;
}

 .boxTxtEstado{
  text-align: center;
  padding-top: 3px;
  font-size: 1rem;
  background-color: #b14949;
  }

  .boxTxtCliente{
    text-align: center;
    align-items: center;
    background-color: #fff;
    height: 20px;
 
  
    
    }
    .boxTxtClientePago{
      text-align: center;
      padding-top: 4px;
      font-size: 1rem;
      background-color: #fff;
      color: #d39259;
      font-weight: bold;
      
      }
      .alineadoFormCliente{
        text-align: left;
        padding-left: 26px;
      }
    

 .formClientetxt{
/*   
 
  margin-top: 8px;
  padding-top: 2px;
  padding-left: 0px; */
  font-size: 0.9rem;
  height: 20px;
  width: auto;
  background-color: #fff;
  text-align: left;
  margin-top: 8px;
  padding-top: 2.5px;
  padding-left: 0px;
}
#nombreCantidad{
  background-color: #50ba73;
  width: 150px;
}
.nombreCantidad{
  background-color: #546c5c;
    font-size: 0.9rem;
}

.nuevoPedidoTxt{
  font-size: 1rem;
  margin-top: 6px;
  padding-top: 2px;
  padding-left: 0px;
}
#infoPendientesBox{
  margin: 8px;
  background-color: #116fad;
  padding-left: 5px;
  margin-right: 12px;
  width: 210px;
  height: auto;
  position: relative;
  display: block;
  font-size: 0.9rem;
 
}
.pendienteNombreCantidad{
 background-color: #91595997;
 font-size: 0.9rem;
 padding-top: 6px;
 width: 220px;
 height: auto;
 position: relative;

}
.infoPendientesBoxNombre{
  font-size: 0.8rem;
  text-align: left;
  margin-top: 8px;
  padding-top: 2px;
  padding-left:0px;
}

.formClienteTxt{
  font-size: 1rem;
  margin-top: 8px;
  padding-top: 2px;
  padding-left: 0px;
 
}
.productoTxt{
background-color: #50ba73;
margin-right: 10px;
position: relative;
text-align: left;

}


 #buscadorClientesPedidos{
  width: 340px;
  height: 20px;
  margin-left: 30px;
  margin-top: 270px;
  position: absolute;
  font-weight: 600;
 font-size: 1.3rem; 
}


#contenedorPedidosNuevos {
  display: flex;
  background-color: #116fad;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Espacio vertical entre los divs */
}
#contenedorlateral {
  background-color: #fff;
  float: left;
  display: flex;
  flex-direction: column; /* Alinea los divs verticalmente */
  align-items: flex-start; /* Alinea los divs a la izquierda horizontalmente */
  width: 1100px;
  height: auto;
}

#tableroPendienteTotalWeb {
  width: 340px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 760px;
  display: block;
  height: auto;
  background-color: #fff;
}

#newPedido {
  margin-top: 10px; /* Añade espacio entre los dos divs */
  padding-left: 0px;

  text-align: left;
  width: 340px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 760px;
}


#boxPedido{
  width: 740px;
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 2px;
position: absolute;
  float: left;
  margin-top: 10px;
  padding-left: 0px;
  padding-top: 8px;
  border-radius: 4px;
  background-color: #fff;

  height: auto;
 


}
.nuevoPedido{
  background-color: #afafaf3e;
  margin-bottom: 8px;

 text-align: center;
  font-size: 1.1rem;
  padding-top: 2px;
  width: 295px;
  font-weight: bold;
  height: 22px;
  }
  .nuevoPedidoPendiente{
    background-color: #fff;
    margin-bottom: 8px;
    margin-left: 50px;
  
   text-align: center;
  
    font-size: 1.1rem;
    padding-top: 2px;
    width: 300px;
    font-weight: bold;
    height: 22px;
    }
  .nuevoClientetxt{
    background-color: #afafaf3e;
    margin-bottom: 8px;
  margin-left: 30px;
   text-align: center;
    font-size: 1.1rem;
    padding-top: 2px;
    width: 250px;
    font-weight: bold;
    height: 22px;
    }

.nuevo-pedido{
  background-color: #afafaf3e;
  margin-bottom: 8px;
 text-align: center;
  font-size: 1.1rem;
  padding-top: 2px;
  width: 200px;
  font-weight: bold;
  height: 22px;
  }
  .nuevo-pedidoForm{
    background-color: #e69595cf;
    width: 180px;
    display: inline-block;
    font-size: 1rem;
    padding-top: 6px;
    font-weight: bold;
    height: auto;
    }



  .dropdown-contentPedido {
    display: none;
    background-color: #f1f1f1;
    float: right;
    margin-top: 15px;
    font-size: 1rem;
    margin-left: 80px;
    min-width: 80px;
    overflow: auto;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  

#estado{
  font-size: 10;
    
    
   
   }
  
  
   .Realizado { background-color:rgb(255, 209, 7); font-weight: 700; color: #000; border: none;  }
   .Entregado { background-color:rgb(67, 143, 82); font-weight: 700; color: #fff; border: none; }
  .Pendiente { background-color:#b14949;  font-weight: 700; color: #fff; border: none;}
  
  
  .rowpedidototal{
    background-color: #b9b0b0;
    padding-top: 6px;
    font-size: 1rem;
    margin-bottom: 2px;
    text-align: center;
    margin-left: 700px;
    width: 140px;
    height: 50px;
  }

  #totalPedidosMovil{
    display:none;
   
    }

    #info-pedidosUpdate{
      margin-left: 145px;
      width: 740px;
      height: 320px;
      background-color: #ffffff;
      position: absolute;
      font-weight: 300;
     font-size: 1rem;
     padding-left: 20px;
     
     }
  
  
/*------------------------------------pedidos Realizados--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/
#contenedor-pedidosRealizados{
  margin-left: 16%;
  margin-top: 30px;
  width: 1080px;
  height: auto;
  background-color: #c4e3be;
  position: relative;

}
.pedidoRealizadosTotal{
  background-color: #f9f9f7e8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 3px;
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: left;
  width: 260px;
  height: 20px;
  }

.formClienteRealizado{
  font-size: 0.9rem;
  display: inline;
  margin-top: 8px;
  margin-left: 68px;
  border: 1px;
  background-color: #eceaea;
  height: 20px;
  border-radius: 2px;
}
#tableroEntregadoTotalWeb{
  width: 340px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 800px;
  display: block;
  height: auto;
  background-color: #fff;

}

#tableroRealizadoTotalWeb{
  width: 340px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 760px;
  display: block;
  height: auto;
  background-color: #fff;

}
.boxTxtEstadoRealizado{
  text-align: center;
  padding-top: 3px;
  font-size: 1rem;
  background-color:rgb(255, 209, 7);
  }

#buscadorRealizados {
  margin-top: 10px; /* Añade espacio entre los dos divs */
  padding-left: 30px;
  padding-right: 0px;
  text-align: left;
  width: 310px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 780px;
  
}

.inputClienteBusqueda{
  width: 80px;
  margin-right: 60px;
  font-size: 1rem;
  background-color: #878585a0;
}
#cambioEstado {
  margin-top: 130px;

  text-align: right;
  width: 240px;
  height: 200;
  margin-left: 800px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}
.rowpedidoRealizados{
background-color: #afafaf3e;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
text-align: center;
width: 720px;
height: 20px;
}.rowpedidoRealizadosTotalDelivery{ 
  background-color: #f9f9f7e8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 0px;
  padding-left: 0px;
  display: inline;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: left;
  width: 590px;
  height: 20px;
  }
 .rowpedidoRealizadosTotalDatosDelivery{
  color: #000;
  background-color:  rgba(248, 230, 151, 0.933);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 20px;
  padding-top: 4px;
  padding-left: 4px;;
  padding-right: 4px;
  padding-bottom: 4px;
  display: inline;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
  width: 20px;
  height: 20px;
    }

.rowpedidoRealizadosTotal{ 
  background-color: #f9f9f7e8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 20px;
  padding-left: 20px;
  display: inline;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: left;
  width: 260px;
  height: 20px;
  }
 .rowpedidoRealizadosTotalDatos{
  color: #000;
  background-color:  rgba(248, 230, 151, 0.933);
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 4px;
  padding-top: 4px;
  padding-left: 4px;;
  padding-right: 4px;
  padding-bottom: 4px;
  display: block;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
  width: 38px;
  height: 20px;
    }
.pedidoRealizados{
background-color: #ffffff;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
font-size: 1.3rem;
text-align: center;
width: 30px;
height: 38px;
}

#infoRealizados{
  margin-left: 20px;
   width: 1100px;
   height: 320px;
   background-color: #ffffff;
   position: absolute;
   font-weight: 300;
  font-size: 1rem;
  padding-left: 20px;
 }

 .dropdownRealizado {
  position: absolute;
  margin-left: 635px;
  display: inline-block;
}
  

/*------------------------------------delivery--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/
#boxPedidoDelivery{
  width: 670px;
  font-size: 1.1rem;

  margin-right: 2px;
  display: inline-block;
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 8px;
  border-radius: 4px;
  background-color:  #f8e697a3;
  height: auto;
  position:relative;

}

.botonMenu{
  display: none;
}

#contenedor-pedidosRealizadosDelivery{
  width: 640px;
  margin-left: 38%;
  height: auto;
  margin-top: 60px;
  background-color: #ffffff;
  padding-bottom: 20px;

}

/*------------------------------------pedidos entregados--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/

#contenedor-pedidosentregados{
  margin-left: 20%;
  margin-top: 20px;
  width: 1080px;
  height: auto;
  background-color: #fff;
  position: absolute;

}
.rowpedidoEntregadosTotal{
  background-color: #afafaf8e;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 16px;
  padding-top: 4px;
  padding-left: 4px;;
  padding-right: 4px;
  padding-bottom: 4px;
  display: inline;
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-align: left;

  height: 40px;
  }

/*   #tableroEntregadoTotalWeb{
    width: 390px;
    top: 0;
    left: 0;
    margin-left: 735px;
    position: absolute;
    padding-bottom: 20px;
    margin-top: 100px;
    padding-left: 10px;
    padding-top: 10px;
    float: right;
    height: auto;
    background-color: #fff;
  } */
#tableroEntregadoTotal{
  margin-top: 30px;

  text-align: left;
  width: 290px;
  height: 300;
  margin-left: 1070px;
  background-color: #FFF;

  position: absolute;
  border-radius: 4px;
  margin-bottom: 10px;
}
#buscadorEntregados {
  margin-top: 10px; /* Añade espacio entre los dos divs */
  padding-left: 30px;
  padding-right: 0px;
  text-align: left;
  width: 310px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 780px;
}
.scrolling{
  height: auto;
  max-height: 160px;
  overflow-y: auto; 
}
#boxPedidoEntregado{
  width: 740px;
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 2px;
position: absolute;
  float: left;
  margin-top: 10px;
  padding-left: 0px;
  padding-top: 8px;
  border-radius: 4px;
  background-color: #fff;

  height: auto;
}

.col-6 ul {
  list-style: none; /* Elimina los puntos de lista */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
}
.boxTxtEstadoEntregados{
  text-align: center;
  padding-top: 3px;
  font-size: 1rem;
  background-color:rgb(67, 143, 82); 
  }
  .rowpedidoEntregadosTotalDatos{
    color: #fff;
    background-color:rgb(67, 143, 82); 
    border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 4px;
  padding-top: 4px;
  padding-left: 4px;;
  padding-right: 4px;
  padding-bottom: 4px;
  display: block;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
  width: 38px;
  height: 20px;
      }
      .rowpedidoEntregadosTotalDatosColor{
        color: #fff;
        background-color:  #cd9090;
        border: none;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      margin-left: 4px;
      padding-top: 4px;
      padding-left: 4px;;
      padding-right: 4px;
      padding-bottom: 4px;
      display: block;
      border-radius: 4px;
      margin-bottom: 5px;
      font-size: 1rem;
      text-align: center;
      width: 38px;
      height: 20px;
          }
.rowpedidoentregados{
background-color: #afafaf3e;
margin-left: 60px;
padding-top: 6px;
padding-left: 4px;;
padding-bottom: 6px;
display: inline-block;
margin-bottom: 5px;
font-size: 1rem;
text-align: left;
width: 980px;
height: 20px;
}

  
.rowEntregados{
  background-color: #afafaf3e;
  padding-top: 6px;
  font-size: 0.9rem;
  margin-bottom: 2px;
  text-align: left;
  padding-right: 16px;

  height: 40px;
  }
  .rowEntregadosDatos{
    background-color: #ecdddd3e;
    padding-top: 6px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left;

    }


.rowalt{
  height: 30px;
  background-color: #ffffff;
}

  /*-----------------------------------------------Estadisticas-----------------------------------------
--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/
#contenedorEstadisticas{
  margin-left: 20%;
  margin-top: 20px;
  width: 1040px;
  height: auto;
  background-color: #ac94d2;
  position: absolute;

}

#infoEstadisticas{
  margin-left: 20px;
   width: 840px;
   height: auto;
   background-color: #ffffff;
   position: absolute;
   font-weight: 300;
  font-size: 0.9rem;
  padding-left: 5px;
 

 }
.rowInfoEstadisticas{
background-color: #afafaf3e;
padding-top: 6px;
font-size: 1rem;
margin-bottom: 2px;
width: 1040px;

}
.catEstadisticas{
  background-color: #b5d3ef;
  font-size: 0.95rem;

  margin-left: 0px;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  color: #000000;
}
.catEstadisticasMes{
  background-color: #efedb5;
  font-size: 0.9rem;

  margin-left: 0px;
  text-align: justify;
  padding: 5px;
  padding-top: 0px;
  color: #000000;
}

#mes {
  background-color: #696c6a;
  color: #ffffff;
}

.datosEstadisticos{
  background-color: #ffffff;
font-size: 1rem;
  margin-top: 8px;
  margin-left: 0px;
  padding-left: 0px;

  text-align: center;
  list-style: none;
}

.rowEstadisticas{
  background-color: #afafaf3e;
  padding-top: 10px;
  font-size: 1rem;
  margin-bottom: 2px;
  width: 1040px;
 
  }
  .datosEstadisticosMes{  
    background-color: #ffffff;
     margin-top: 8px;
    margin-left: 0px;
    padding-left: 0px;
  
    text-align: center;
    list-style: none;
  }
 .pedidoCategoria{
  padding-right: 39px;
  text-align: left;
 }
 .pedidoCategoriaValor{

  text-align: left;
  padding-left: 60px;
 }
 .registro {
  /* Estilos generales */
  background-color: gray;
  color: white;
  /* Otros estilos que desees aplicar */
}

.registro.pendiente {
  background-color: rgb(239, 119, 119);
  width: 60px;
  padding: 3px;
  padding-left: 4px;
  margin-bottom: 3px;
  padding-right: 4px;
}

.registro.realizado {
  background-color:rgb(255, 209, 7);
  width: 60px;
  padding: 3px;
  padding-right: 4px;
  padding-left: 4px;
  margin-bottom: 3px;

}

.registro.entregado {
  background-color: rgb(117, 202, 154);
  width: 60px;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  color: #000;
  margin-bottom: 3px;

}


.registro.cobrado {
  background-color: rgb(107, 107, 105);
  padding-right: 4px;
  padding-left: 4px;
  color: #fff;
  width: 60px;
  padding: 3px;
  margin-bottom: 3px;

}
 
  #formularioFechas {
    position: absolute;
    background-color: #ffffff;
    color: #000;
    margin-top: 18PX;
    padding: 20px;
    height: 90px;
    align-items: center;
    
    
  }
  .floatRight{
    float: right;
    }
  .floatLeft{
      float: left;
      }

      .mesBusqueda{
        font-size: 1rem;

        font-weight: bold;
      }
    .listaUp{
        border-top: 1px solid ;
        color: #282525;
        list-style: none;
        margin-bottom: 0px;
        margin-top: 3px;
      }
      .listaDown{
        border-bottom: 1px solid ;
        color: #282525;
        list-style: none;
        margin-bottom: 3px;
        text-align: justify;
      }
 
  
  .sizeFont {
 font-size: 1.4rem;
 text-align: justify;
  }
  .sizeList {
    font-size: 1rem;
   margin-left: 20px;
    text-align: center;
     }
  .sizeBtn {
    margin-top: 10px;
    text-align: justify;
     }

    

  .class1{
    background-color: #b5d3ef;
    font-size: 0.95rem;
    padding: 10px;
    height: 70px;
    text-align: center;
  }
  .class2{
    background-color: #7d756f;
    margin-top: 10px;
    padding: 10px;
    height: 20px;
    text-align: justify;
  }

  .class3{
    background-color: #86a7c7;
    font-size: 0.95rem;
    padding: 10px;
    margin-left: 3px;
    height: 50px;
    text-align: center;
  }
  .class4{
    background-color: #efceb5;
    font-size: 0.95rem;
    margin-left: 3px;
    padding: 6px;
    height: 70px;
    text-align: center;
  }
  .class5{
    background-color: #d4af93;
    font-size: 0.95rem;
    text-align: center;
    height: 50px;
    padding: 6px;
    margin-left: 3px;
  }
  .class6{
    background-color: #d0efb5;
    font-size: 0.95rem;
   padding: 10px;
    margin-left: 3px;
    height: 70px;
    text-align: justify;
  }
  .class7{
    background-color: #b2d693;
    font-size: 0.95rem;
    padding: 10px;
    height: 50px;
    margin-left: 3px;
    text-align: center;
  }
  .clase8{
    background-color: #b5d3ef;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 2px;
    height: 24px;
    text-align: justify;
  }
  .clase9{
    background-color: #6286b0;
    color: #fff;
    padding: 5px;
   
    margin-left: 0PX;
    margin-top: 0px;
    margin-bottom: 5PX;
    text-align: left;

    
  }
  .clase99{
    background-color: #abb062;
    color: #fff;
    padding: 5px;
    width: 968PX;
    margin-left: 0PX;
    margin-top: 0px;
    margin-bottom: 5PX;
    text-align: justify;
    height: 24px;
    
  }
  .class10{
    background-color: #7d756f;
    color: #ffffff;
    margin-left: 3px;
    font-size: 0.9rem;
    padding: 5px;
    height: 45px;
    text-align: center;
  }

  #listado{
margin-top: -90px;

  }








  
  
/*-----------------------------------------------administrador-----------------------------------------
--------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/

#contenedor-login {
  margin-top: 100px;
  width: 1000px;
  height: 420px;
  margin-left: 290px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
}
#adminProducto {
  background-color: rgb(233, 236, 232);
  text-align: left;
  font-size: 0.8rem;
  margin-left: 250px;
  width: 530px;
  padding-left: 13px;
  padding-right: 30px;
  padding-top: 10px;
  height: auto;
  position: absolute;
  border-radius: 4px;
  margin-top: 5px;
}

#slide-productoAdmin {
  width: 740px;
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 2px;
position: absolute;
  float: left;
  margin-top: 0px;
  padding-left: 0px;
  padding-top: 0px;
  border-radius: 4px;
  background-color: #fff;

  height: auto;
}
.descripcionProducto{
  color: #2c5637;
}

#formNuevoProducto {
  margin-top: 20px;
  padding-top: 10px;

  text-align: right;
  width: 280px;
  height: 400px;
  margin-left: 700px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: #ffffff;
  position: absolute;
  margin-bottom: 10px;
}
#adminUser {
  margin-top: 5px;
  background-color: rgb(233, 236, 232);
  text-align: left;
  font-size: 0.7rem;
  margin-left: 800px;
  width: 530px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 5px;
  height: auto;
  position: absolute;
  border-radius: 4px;
}
#adminSlide {
  background-color: rgb(233, 236, 232);
  text-align: left;
  font-size: 0.7rem;
  margin-left: 800px;
  width: 530px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 10px;
  height: 300px;
  position: absolute;
  border-radius: 4px;
  margin-top: 740px;
}
#adminPosteo {
  margin-top: 340px;
  background-color: rgb(233, 236, 232);
  text-align: left;
  font-size: 0.8rem;
  margin-left: 800px;
  width: 530px;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 10px;
  height: auto;
  position: absolute;
  border-radius: 4px;
}
#txtposteo {

  height: 120px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
 
}



.new {
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.8rem;
  padding-top: 3px;
  color: #000;
  background-color: rgb(231, 221, 129);
}






/*--------------carrito--------------*/
#contenedor-carrito {
  margin-top: 0px;
  width: 1000px;
  height: auto;
  margin-left: 290px;
  background-color: #e6eaee;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}
#slide-carrito {
  font-size: 1rem;
  margin-left: 26px;
  width: 990px;
  height: auto;
  border-radius: 8px;
}
#carritoInfo {
  margin-left: 10px;
  padding-top: 15px;
  margin-top: 10px;
  text-align: justify;
  padding-right: 20px;
  height: auto;
  font-size: 1.2rem;
  width: 460px;
  padding-left: 20px;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  border-radius: 8px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  
}






#contador{
  width: 100px;
  height: 40px;
  margin-top: 10px;
  background-color: #624646;
  position: relative;
  border-radius: 4px
  
 };
 #contadorsuma{
  width: 30px;
  height: 30px;
  background-color: #282525;
  margin-top: -10px;
  margin-left: 5px;
  z-index: 2;
 };

 .sumastyle {
text-align: left;
color: #2d8ff2;
font-size: 3rem;

 }



.radius2{
  border-radius: 3px;
  align-items: center;
  margin-left: 10px;
 /*  margin-top: 5px; */
}



#carritocontenedor {
  text-align: right;
  margin-left: 842px;
  background-color: #dfe6eb;
  height: 360px;
  font: 0.7rem sans-serif;
  padding-right: 30px;
  margin-top: 10px;
  width: 250px;
  position: fixed;
  word-spacing: 0.2rem;
  border-radius: 8px;
 
}







#datosIndex {
  margin-top: 80px;
  width: 980px;
  height: 940px;
  margin-left: 90px;
  background-color: rgb(202, 198, 198);

  position: absolute;
}

#posteoDatos {
  margin-top: 90px;
  width: 970px;
  height: 800px;
  margin-left: 100px;
  background-color: darkgrey;
  position: absolute;
}

#UserSesion{
  font-size: 0.8rem;
  margin-left: 76px;
  width: 300px;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 70px;
  height: 300px;
  position: absolute;
  border-radius: 4px;
}
#registroUser {
  font-size: 0.8rem;
  
  margin-top: 40px;
margin-left: 460px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 70px;
  height: 300px;
  border-radius: 4px;
}
.inputUser {
  font-size: 0.7rem;
  margin-top: 20px;
  text-align: right;
}
.updateteam {
  font-size: 0.6rem;
  width: 20px;
  text-align: center;
}
.loginUser {
  font-size: 0.9rem;
  width: 160px;
  text-align: right;
}
#posteoIndex {
  height: 410px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 420px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  align-items: center;
  display: inline-flex;
  position: absolute;
  border-radius: 8px;
}
.productoDescIndex {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 10px;
}
.productoNameIndex {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

#posteo3 {
  font-size: 0.9rem;
  margin-top: 0px;
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  height: 330px;
  width: 280px;
  background-color: #ffffff;
  padding-left: 80px;
  text-align: left;
  border-radius: 8px;
}

#productoNuevo {
  font-size: 0.7rem;
  margin-top: 60px;
  text-align: center;
  height: 240px;
}
#createposteo {
  font-size: 0.8rem;
  margin-top: 100px;
  margin-left: 930px;
  padding-left: 10px;
  float: right;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 10px;
  height: 200px;
  position: absolute;
  border-radius: 4px;
}

#actualizaTeam {
  font-size: 0.8rem;
  color: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 10px;
  background-color: #116fad;
  width: 300px;
  height: 50px;
  position: relative;
}
.team {
  color: rgb(38, 235, 48);
}





#btnagregarproducto {
background-color: #7f9a73;
margin-top: 0px;
float: right;
border-radius: 4px;
font-size: 0,7rem;
border: none;
text-decoration: none;

}
.txtRegistro {
  font-size: 0.9rem;
  word-spacing: 0.0rem;
  }

.btnRegistro {
font-size: 0.6rem;

margin-top: 25px;
margin-right: 38px;
border-bottom: none;
background-color: #5b88c4;
border: none;
}
.btnOlvido {
  font-size: 0.7rem;
  margin-top: 5px;
  border-bottom: none;
  border: none;
  }


.btnnusuario{
  font-size: 1rem;
  width: 90px;
  margin-top: 10px;
  margin-right: 18px;
  height: 18px;
  background-color: rgb(107, 161, 209);
  border: none;
}
.user{
  font-size: 1.9rem;
  float: right;
  width: 40px;
  height: 18px;
}

#btniniciotxt{
  font-size: 0.8rem;
  margin-top: -15px;
  height: 18px;
}
.btniniciousertxt{
  font-size: 1.2rem;
  width: 90px;
  margin-right: 18px;
  margin-top: 5px;
  border: none;
  height: 18px;
  border-radius: 6px;
}
.btniniciouser{
  font-size: 1.2rem;
  width: 90px;
  margin-top: 0px;
  margin-right: 18px;
  height: 18px;
  background-color: #9bc19d;
  border: none;
  border-radius: 6px;
}
.espaciado {
  word-spacing: 0.0rem;
}

.slidetitle {
  font-size: 2rem;
  background-color: #5b88c4;

}

#newUser {
  margin-top: 0px;
  width: 1000px;
  height: auto;
  margin-left: 290px;
  background-color: #2d8ff2;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 10px;
}

.btnClienteNuevo{
  font-size: 0.9rem;
  margin-top: 8px;
  float: left;
  width: 126px;
  margin-left: 148px;
  background-color: #71a381;
  height: 20px;
  border-radius: 4px; 
}



/*--------------pedidos pendientes--------------------------------------------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------*/
#contenedor-pendientes {
  margin-top: 300px;
  width: 200px;
  height: 300;
  margin-left: 1090px;
  background-color: #245a90;
  position: absolute;
  border-radius: 8px;
  
}
#productoIndex {
  height: 300px;
  margin-top: 20px;
  margin-left: -30px;
  margin-right: 20px;
  width: 500px;
  margin-left: 450px;
  background-color: #de5a5a;
  padding-left: 20px;
  display: inline-block;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 20px;
}
#productoInfo {
  margin-left: 4px;
  padding-top: 8px;
  margin-top: 10px;
  text-align: justify;
  padding-right: 30px;
  height: 360px;
  font-size: 1rem;
  width: 230px;
  padding-left: 20px;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  border-radius: 8px;
}

.formProduct{
  margin-right: 40px;
  width: 360px;
  text-align: left;
  float: left;
  background-color: #fff;

}

.btnProduct{
  font-size: 0.9rem;
  margin-top: 8px;
  float: right;
  width: 98px;
  margin-right: -10px;
  background-color: #71a381;
  height: 20px;
  border-radius: 4px; 
}

.boxProductoform1{
/*   background-color: #d4d4d3;
  border-radius: 4px;
  margin-top: 5px;
  height: 18px;
  width: 80px;
  padding-left: 3px;
  margin-right: 120px;
  position: relative;
  float: right;
  display:block; */
  font-size: 0.9rem;
  width: 98px;
  float: left;
  display: inline;
  margin-top: 8px;
  margin-left: -110px;
  border: 1px;
  background-color: #eceaea;
  height: 20px;
  border-radius: 2px;
}

.botones-container {
  display: inline;
  margin-left: 10px;
 padding-bottom: 20px;
 
  background-color: #fff; /* Alinea verticalmente los elementos */
}

.productoInfoAdmin {
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-right: 10px;
  height: 380px;
  font-size: 0.95rem;
  width: 140px;
  padding-left: 10px;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  border-radius: 8px;
}

.btnNuevoProducto{
  background-color: #245a90;
  margin-left: 10px;
 float: right;
 font-size: 0.9;
 color: #245a90;
}
/* Estilos para la sección de acciones */
.form-actions {
  padding-top: 10px;
  padding-left: 6px;
}


#contenedor-productosAdmin {
  margin-left: 24%;
  margin-top: 0px;
  width: 1040px;
  height: 420px;
  background-color: #ffffff;
  position: absolute;
  
}
.contenedor-imagen {
  max-width: 500px; /* Tamaño máximo deseado para la imagen */
  /* Otros estilos para el contenedor */
}
.contenedor-imagen img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------update user--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/

#box1UpdUser {
  width: 370px;
  height: auto;
  padding-left: 8px;
background-color: #245a90;
  margin-top: 5px;
  display: block;
 /* Alinea en la parte superior */
}


/*------------------------------------delivery--------------------
-----------------------------------------------------------------------
------------------------------------------------------------------------*/

.subtituloEntregado{
  background-color:  #98d2ab;

  color: #5c5757;
border-bottom: solid, 2px;
width: 660px;
padding-top: 3px;
padding-bottom: 3px;
}
.subtitulo{
  background-color: #f0e39b;
  color: #5c5757;
border-bottom: solid, 2px;
width: 660px;
padding-top: 3px;
padding-bottom: 3px;
}
.subtitulo1{

  border-bottom: solid, 2px;
  width: 660px;
  padding-top: 3px;
  padding-bottom: 3px;
  }


#navbarDelivery .menu-toggle {
  display: block; /* Muestra el botón de desplegar/ocultar el menú */
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

#navbarDelivery .menu {
  display: none; /* Oculta la lista de navegación */
 
}

#navbarDelivery .menu-toggle:checked ~ .menu {
  display: block; /* Muestra la lista de navegación cuando se hace clic en el botón */
  bottom: 10px; /* Ubica la lista debajo del botón */
  font-size: 0.9rem;
  position: relative;
  padding-top: 20px;
  padding-left: 8px;
  margin-top: 10px;
  height: auto;
  width: 300px;
  margin-left: 0px; /* Alinea la lista a la izquierda */
  /* Cambia el color de fondo de la lista */
  padding: 0px; /* Añade espaciado interno a la lista */
}
.linkmaps{
  font-size: 0.9rem;

}
.btnPedido{
  margin-left: -14px;
}


#navbarDelivery .menu-toggle-label {
  display: block;
  text-align: center;
  cursor: pointer;

}

#navbarDelivery {
  margin-top: 2px;
  margin-left: 0px;
  width: 640px;
  height: 30px;
  font-size: 1rem;

  display: inline-block;

}















